<div #mainContent></div>

<div class="content-page">
    <div class="display-paragraphs">
        <h1 class="color-primary">
            ¡¡Felicidades!!
        </h1>
        <p class="font-weight">
            ¡Felicidades por elegir nuestro increíble
            curso virtual de Fotografía para viajes con
            tu celular!
        </p>
        <p>
            Has hecho una excelente inversión que te
            traerá grandiosos resultados en tus
            próximos viajes...
        </p>
        <p>
            Ya seas un principiante emocionado o un
            entusiasta avanzado, nuestro curso está
            diseñado para impulsarte a mejorar tus
            fotos.
        </p>
        <p>
            Aprenderás cómo sacarle el máximo
            provecho a tu celular para lograr capturar
            hermosas fotos de paisajes, arquitectura y
            alimentos, además aprenderás algunos
            trucos para mejorar tus poses, cómo
            vestirte para combinar con el lugar y
            finalmente: aprenderás a editar tus fotos
            como un profesional y compartir lo mejor en
            tus redes sociales.
        </p>
        <p>
            <mark class="color-primary font-weight">¡¡Prepárate para tomar fotos asombrosas y
                crear recuerdos duraderos!!</mark>
        </p>
    </div>
    <div class="display-paragraphs margin-top">
        <h1 class="color-primary">PASO A SEGUIR:</h1>

        <div class="text-start content-steps">
            <p>
                <span class="color-primary font-weight">1. Revisa tu correo electrónico</span>, allí
                encontrarás la orden de tu pedido y la info
                para iniciar sesión. (Revisa también en la
                bandeja de spam)
            </p>

            <p>
                Si no encuentras el correo, contáctate con
                nosotros a través de las líneas de atención
                que verás en la parte inferior de nuestra
                página <a href="www.vilean.co" class="color-primary">www.vilean.co</a>
            </p>

            <p>
                <span class="color-primary font-weight">2. Para iniciar sesión</span> debes ingresar el
                correo electrónico con el que realizaste esta
                compra y la contraseña temporal que te
                enviamos por correo.
            </p>

            <p>
                <span class="color-primary font-weight">3. Una vez hayas iniciado sesión, puedes
                    cambiar la contraseña</span> para acceder más
                fácil la próxima vez, solo debes dar click en
                la sección "mi perfil" y allí podrás hacer el
                cambio.
            </p>
        </div>

        <hr>

        <p class="color-primary font-bold background-secondary">
            Importante: Si hiciste la compra con tarjeta
            de crédito, puede que tu pago se encuentre
            en estado “pendiente”.
        </p>

        <p>
            <span class="color-primary font-bold">
                En ese caso, debemos esperar que el banco
                confirme que el pago lo realizaste tú,
            </span> esto
            con el fin de minimizar el fraude y proteger
            tu dinero. El tiempo de validación puede
            tardar entre 1 y 24 horas a más tardar.
        </p>

        <p>
            Luego de estar aprobada, recibirás el correo
            con la orden de tu pedido.
        </p>

        <hr>

        <p class="color-primary font-weight">¡Y LISTO!</p>

        <p>
            Es momento de empezar este grandioso
            viaje fotográfico. Esperamos que lo disfrutes
            tanto como nosotros lo hicimos...
        </p>

        <app-generic-button (emitClick)="changeRoute()" [nameButton]="'Página de inicio'"
            [classButton]="'class_white_color_blue'">
        </app-generic-button>
    </div>
</div>
