<section class="content-footer">
    <div class="footer">
        <div class="margin content-logo">
            <div class="logo-footer"></div>
        </div>
        <div class="margin padding-title">
            <p class="name-social-media">Whatsapp</p>
            <p class="list-social"><a target="_blank">+57 316 052 0963</a>
            </p>
        </div>
        <div class="margin padding-title">
            <p class="name-social-media">Instagram</p>
            <p class="list-social"><a target="_blank">@vilean__</a></p>
        </div>
        <div class="margin gmail">
            <span class="msj"></span>
            <p><a title="">vileanrg@gmail.com</a></p>
        </div>
    </div>
</section>
<section class="footer-bottom">
    <div class="container">
        <div class="sixteen columns">
            <p>© TODOS LOS DERECHOS RESERVADOS. VILEAN 2022</p>
        </div>
    </div>
</section>