form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.input-name {
    width: 100%;
}

::ng-deep .p-avatar.p-avatar-xl{
    width: 5rem;
    height: 5rem;
}