form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}