<div class="container">
    <form [formGroup]="form">
        <h3>Recuperar contraseña</h3>
        <p>Te enviaremos
            un enlace a tu correo para que puedas cambiar tu contraseña.</p>
        <div class="content-inputs">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="text" id="email" name="email" formControlName="email" placeholder="Ingrese su email"
                    required />
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid" (click)="sendData()">{{'Recuperar contraseña'}}</button>
        <a [routerLink]="'/login'">Regresar al inicio de sesión</a>

    </form>
</div>