<app-header-promotions></app-header-promotions>

<ng-container *ngIf="loading">
    <h1> Cargando...! </h1>
</ng-container>

<ng-container *ngIf="!loading">
    <ng-container *ngIf="!transactionError">

        <app-gratitude-kit *ngIf="!showGratitudCourse"></app-gratitude-kit>
        <app-gratitude-course *ngIf="showGratitudCourse"></app-gratitude-course>

    </ng-container>

    <ng-container *ngIf="transactionError">
        <app-error-transaction></app-error-transaction>
    </ng-container>
</ng-container>

<app-footer></app-footer>