<section class="home">

  <div class="content-title">
    <div class="content-image">
    </div>

    <div class="content-paragraph">

      <div class="icon-image">
        <img src="assets/images/CELCAM.png" alt="Logo Cel cam" />
      </div>

      <div class="slider-text">
        <h1>
          Curso de fotografía
        </h1>
        <h1>
          <mark> para viajes </mark> con tu celular
        </h1>
        <p class="subtitle">
          Te enseñamos lo último en fotografía para
          capturar fotos que destaquen, impacten y
          mejoren tu presencia en redes sociales
        </p>
      </div>

      <div class="content-button button">
        <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" (emitClick)="handleClick()"
         [nameButton]="'COMPRAR CURSO'"
         [classMarkCoupon]="'coupon-color_white_blue'"></app-generic-button>
      </div>
    </div>
  </div>
</section>
