<app-gratitude-kit *ngIf="succesfulTransaction && showShippingAdress"></app-gratitude-kit>
<app-gratitude-course *ngIf="succesfulTransaction && !showShippingAdress"></app-gratitude-course>

<ng-container *ngIf="!succesfulTransaction">
    <app-menu></app-menu>
    <div class="container-p-messages" *ngIf="userExist">
        <p-messages severity="warn" [(value)]="message"></p-messages>
    </div>

    <div class="content-invoice" [ngClass]="{'remove-margin': userExist, 'add-margin': !userExist}">
        <h2 class="title">Finalizar compra</h2>
        <div class="content-forms">
            <div class="flex-column">
                <app-invoice-form (emitForm)="setCustomerData($event); validateUser($event)"></app-invoice-form>
                <app-shipping-form *ngIf="showShippingAdress"
                    (emitForm)="setshippingAddressData($event)"></app-shipping-form>
            </div>
            <div class="flex-column">
                <app-invoice></app-invoice>
                <!-- <app-discount-coupon></app-discount-coupon> -->
                <app-payment-button class="button-wompi" (emitPruchase)="disabledButton()"></app-payment-button>
            </div>
        </div>
    </div>
    <div class="footer">
        ©TODOS LOS DERECHOS RESERVADOS.
        VILEAN 2022
    </div>
</ng-container>