<div class="like-fotos">
  <section class="section">
    <h1><mark>Si te gustan las fotos,</mark> y las redes sociales...</h1>
    <div class="grid-two-columns">
      <div>
        <p>De seguro has visto fotos de personas que
        viajan y dices: ¡Woww! qué fotos tan
          espectaculares...</p>

        <p>No solo por el lugar, sino por la forma en
          que fueron tomadas.</p>

        <p>Aunque no sepas de fotografía, puedes
        notar que están tan bien hechas que te
        transmiten emociones y te hacen sentir
        que estás viajando con ellos. Te gustan
        tanto que das tu like sin pensarlo dos
          veces.</p>

        <p>Son imágenes que llaman la atención de
          inmediato.</p>
      </div>
      <div><img src="https://vilean.s3.us-east-2.amazonaws.com/PAG+CURSO/phones.png"></div>
    </div>

  </section>
  <section class="section">
    <h1>Pero al inicio de las redes sociales,<mark> esto no era común.</mark></h1>
    <p>Fue gracias al avance de la tecnología y al estudio de la fotografía, que hoy en
      día podemos capturar fotos muy profesionales y de alta calidad solo con
      nuestro celular.</p>
    <p>Tenemos en nuestras manos la herramienta para lograr tomar fotos
      asombrosas que inspiren y cautiven en el medio digital.</p>
    <p><b>Si quieres destacar en las redes sociales, si quieres impactar con tus fotos y
      cumplir tus expectativas,</b> ya no es suficiente tomar una simple foto, tienes que
      hacerlo con muy buena técnica, teniendo en cuenta conceptos y trucos sencillos
      que junto a tu celular crearán resultados asombrosos.</p>
  </section>
</div>
