<div class="list-courses">
    <p-card subheader="Fotografía para viajes con tu celular" [style]="{ width: '360px' }">
        <hr>
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
            deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
            neque
            quas!
        </p>
        <div class="footer">
            <p>Valor: $47,00 USD</p>
            <p-button label="Editar" >
                <mat-icon>add</mat-icon>
            </p-button>
        </div>
    </p-card>
</div>