@import 'src/styles/variables';

mat-toolbar {

    justify-content: space-between;

    span {
        color: $white;
        font-weight: 600;
        letter-spacing: 2px;
    }

    button {
        background: $white;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    mat-icon {
        color: $primary;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        h2 {
            font-weight: 700;
            color: $secondary;
        }
    }
}