<div>
    <form [formGroup]="form">

        <mat-form-field class="example-full-width">
            <mat-label>{{ 'products.form.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>{{ 'products.form.description' | translate }}</mat-label>
            <input matInput #message maxlength="256" formControlName="description"
                placeholder="Ex. I need help with...">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>{{ 'products.form.price' | translate }}</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>

        <div class="example-button-container">
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon"
                (click)="addModule()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <ng-container *ngIf="modules.controls.length > 0">

            <div formArrayName="modules">

                <ng-container *ngFor="let item of modules.controls; let moduleIndex = index">

                    <div [formGroupName]="moduleIndex">

                        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon"
                            (click)="deleteModule(moduleIndex)" *ngIf="moduleIndex !== 0">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'products.form.moduls.name' | translate }}</mat-label>
                            <input matInput type="text" formControlName="name">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-label>{{ 'products.form.description' | translate }}</mat-label>
                            <input matInput #message maxlength="256" formControlName="description"
                                placeholder="Ex. I need help with...">
                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                        </mat-form-field>

                        <button mat-fab color="accent" (click)="addVideo(moduleIndex)">
                            <mat-icon>movie</mat-icon>
                        </button>

                        <div formArrayName="videos">

                            <ng-container
                                *ngFor="let item of moduleIndex | listVideos: modules; let videoIndex = index">

                                <button mat-fab color="secondary" aria-label="Example icon button with a bookmark icon"
                                    (click)="deleteVideo(moduleIndex, videoIndex)" *ngIf="videoIndex !== 0">
                                    <mat-icon>delete</mat-icon>
                                </button>

                                <div [formGroupName]="videoIndex">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{ 'products.form.moduls.video' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="name">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{ 'products.form.moduls.url' | translate }}</mat-label>
                                        <input matInput type="url" formControlName="url">
                                    </mat-form-field>
                                </div>

                            </ng-container>

                        </div>
                    </div>

                </ng-container>

            </div>
        </ng-container>
    </form>

    <button (click)="validateAction()" [disabled]="form.invalid"> Guardar </button>
</div>