<div *ngIf="form.value ?? form.value as item">
    <p> {{ item.name }} </p>
    <ul *ngFor="let module of item.modules; let indexModule = index">
        <li>
            <div class="content-title">
                <p>{{ module.name }} </p> 
                <span> 
                    <mat-icon (click)="openModal(typesObject.module, module, indexModule)">
                        edit
                    </mat-icon> 
                </span>
            </div>
            <ul *ngFor="let classes of module.classes">
                <li>
                    {{ classes.name }}
                </li>
            </ul>
        </li>
    </ul>
</div>

<button (click)="openModal(typesObject.course)"> Crear curso </button>
<button (click)="openModal(typesObject.module)"> Crear modulo </button>
<button (click)="addclass(0)"> Agregar clase </button>

<!-- <button (click)="validateAction()" [disabled]="form.invalid"> Guardar </button> -->