<app-title-modal [titleModal]="'crear producto'"></app-title-modal>

<form [formGroup]="form">

    <div class="content-form">

        <span class="p-float-label">
            <input pInputText id="username" formControlName="name" class="input-name" />
            <label htmlFor="username">{{ 'products.form.name' | translate }}</label>
        </span>

        <p-editor formControlName="description" [style]="{ height: '180px' }"></p-editor>

        <h3>Especificaciones del producto</h3>

        <div class="course-content-image">

            <span class="p-float-label">
                <p-inputNumber id="float-input" formControlName="priceWithoutTaxes" inputId="currency-us" mode="currency"
                    currency="USD" locale="en-US"> </p-inputNumber>
                <label for="float-input">{{ 'products.form.priceWithoutTaxes' | translate }}</label>
            </span>

            <span class="p-float-label">
                <p-inputNumber id="float-input" formControlName="taxes" inputId="currency-us" mode="currency"
                    currency="USD" locale="en-US"> </p-inputNumber>
                <label for="float-input">{{ 'products.form.taxes' | translate }}</label>
            </span>

            <span class="p-float-label">
                <p-inputNumber id="float-input" formControlName="price" inputId="currency-us" mode="currency"
                    currency="USD" locale="en-US"> </p-inputNumber>
                <label for="float-input">{{ 'products.form.price' | translate }}</label>
            </span>
        </div>

        <div class="content-images">
            <div class="button-file">
                <input type="file" id="images" name="images" class="custom-file-input"
                    (change)="onFileSelected($event)">
                <label for="images" class="custom-file-label">Cargar imagenes</label>
            </div>

            <div class="card p-fluid">
                <p-chips formControlName="imageProperties" field="key"></p-chips>
            </div>
        </div>

    </div>
</form>

<app-buttons-modal [disabledButton]="form.invalid" (handleSaveButton)="validateAction()"
    [loading]="loading"></app-buttons-modal>