@import '/src/styles/variables';
@import '/src/styles/buttonFile';
@import '/src/styles/materialModal';

::ng-deep.p-button {
    background: $primary;
}

form {
    width: 90%;
    margin: 30px auto;
}

.content-form {

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;

    .course-content-image {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: flex-start;
    }
}

.modules {
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;

    .title-module {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .form-modules {
        margin: 10px auto;
    }
}

textarea,
.input-name {
    width: 100%;
}

.content-three {
    width: 335px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 45px;

    .p-fluid {
        width: 75%;
    }
}

::ng-deep.p-fluid .p-chips {
    max-height: 45px
}

.button-file {
    width: 25%;
    min-width: 195px;
    justify-self: flex-start;
}

::ng-deep .cdk-overlay-pane {
    min-width: 70%;
}

@media screen and (max-width: 500px) {

    form {
        overflow: auto;
        height: 65vh;
    }

    p-editor {
        width: 100%;
    }

    .content-form {
        span {
            max-width: max-content;
        }

        .course-content-image {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    .content-images {
        flex-direction: column;
        gap: 15px;

        .p-fluid {
            width: 100%;
        }
    }

}