<section class="buy-content">
  <div class="icon-image">
    <img src="assets/images/CELCAM.png" class="movil" alt="Logo Cel cam" />
    <img src="assets/images/icono.png" class="desktop" alt="Logo Cel cam" />
  </div>

  <div class="buy-content-paragraphs">
    <div>
      <p class="color-primary font-bold text-center" style="max-width: 420px;">
        ¡¡Cuando no sabes tomar buenas fotos <mark>pierdes la
          ÚNICA OPORTUNIDAD en tu viaje</mark> de traerte un gran
        RECUERDO HECHO FOTO!!
      </p>
    </div>

    <hr>

    <p class="color-primary font-bold text-center">Nuestra promesa:</p>
    <p class="color-primary" style="max-width: 540px;">Con nuestro curso pasarás de tomar fotos sencillas a tomar fotos
      admirables ¡Por tí mismo!</p>
    <p class="color-primary">Y SOLO NECESITAS MENOS DE 1 HORA DE TU TIEMPO</p>
  </div>

</section>