<section class="buy-content">
  <div class="icon-image">
    <img src="assets/images/CELCAM.png" class="movil" alt="Logo Cel cam" />
    <img src="assets/images/icono.png" class="desktop" alt="Logo Cel cam" />
  </div>

  <div class="text">
    <p>Con nuestro curso pasarás de</p>
    <p>tomar fotos sencillas a tomar</p>
    <p>fotos admirables ¡Por tí mismo!</p>
  </div>

  <div class="text-desktop">
    <p>Con nuestro curso pasaras  de tomar fotos sencillas a tomar fotos</p>
    <p>admirables ¡Por ti mismo!</p>
  </div>

  <p class="color-blue padding-bottom">SOLO NECESITAS MENOS DE 1 HORA DE TU TIEMPO</p>

  <div class="button">
    <app-generic-button classButton="class_blue" nameButton="COMPRAR CURSO"></app-generic-button>
  </div>
</section>
