@import "/src/styles/variables";

.buy-content {
  text-align: center;
  background-color: $secondary;
  position: relative;

  .icon-image {
    position: absolute;
    width: 50px;
    top: -25px;
    left: calc(50% - 25px);

    img {
      width: 100%;
    }
  }
}

.desktop {
  display: none;
}

mark {
  background: white;
  color: $primary;
}

.buy-content-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 28px 40px 28px;
  gap: 20px;
}

hr {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {

  .movil {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media screen and (max-width: 800px) {

  .buy-content {
    padding-bottom: 0px;
  }
}
