@import "/src/styles/variables";

.buy-content {
  text-align: center;
  background-color: $secondary;
  position: relative;
  padding-bottom: 40px;

  .icon-image {
    position: absolute;
    width: 50px;
    top: -25px;
    left: calc(50% - 25px);

    img {
      width: 100%;
    }
  }

  .text {
    padding: 30px 30px 20px 30px;

    p {
      text-align: center;
      color: $primary;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
      color: $primary;
      margin-bottom: 20px!important;
      text-align: center;
    }
  }
}

.margin {
  margin-bottom: 25px;
}

.text-desktop {
  display: none;
  padding: 40px 30px 20px 30px;

  p {
    text-align: center;
    color: $primary;
  }
}

.desktop {
  display: none;
}

.color-blue {
  color: $primary;
}

.padding-bottom {
  padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .text, .movil {
    display: none;
  }

  .text-desktop, .desktop {
    display: block;
  }
}
