<section class="buy-content">
  <div class="icon-image">
    <img src="assets/images/CELCAM.png" class="movil" alt="Logo Cel cam" />
    <img src="assets/images/icono.png" class="desktop" alt="Logo Cel cam" />
  </div>

  <div class="buy-content-paragraphs">

    <p class="color-primary font-bold text-center">Nuestra promesa:</p>
    <p class="color-primary" style="max-width: 540px;">Con nuestro curso pasarás de tomar fotos sencillas a tomar fotos
      atractivas ¡Por tí mismo!</p>

    <p>
      <mark class="color-primary">
        Además sabrás cómo prepararte para tu próximo viaje
      </mark>
    </p>
  </div>

</section>