<div class="content-invoice">
    <h3>Tu pedido</h3>
    <div class="content-info">
        <div class="text-end list-products">
            <div class="products">
                <div>
                    <p>Cant.</p>
                    <p>1</p>
                </div>

                <div>
                    <p>Producto</p>
                    <p>Tripode</p>
                </div>
            </div>

            <div>
                <p>Subtotal</p>
                <p>{{ 0 | currency }}</p>
            </div>
        </div>

        <div class="text-end align-between">
            <p>Envío</p>
            <p>{{ 0 | currency }}</p>
        </div>

        <div class="text-end align-between">
            <p>Total</p>
            <p>{{ 0 | currency }}</p>
        </div>
    </div>
</div>