<div #mainContent></div>
<app-header-promotions></app-header-promotions>
<div class="content background-primary color-primary">
    <h2 class="title">¿Quieres añadir el
        Kit viajero a tu compra?</h2>

    <div class="container">

        <img class="responsive-img" oncontextmenu='return false' onkeydown='return false' fill priority [ngSrc]="'https://vilean.s3.us-east-2.amazonaws.com/KIT+VIAJERO/Kit+viajero+H.jpg'" alt="kit-viajero">
    </div>

    <div>
        <p>Por comprar el curso, tienes un</p>
        <h2 class="color-primary">15% de descuento</h2>
        <p>en el kit viajero</p>
    </div>

    <app-generic-button [sizeButton]="'large'" [classButton]="'class_yellow'"
        [nameButton]="'Añadir al carrito'" (emitClick)="addTravelKit()"></app-generic-button>
    <app-generic-button [sizeButton]="'large'" [classButton]="'class_white_color_blue'"
        [nameButton]="'No añadir'" (emitClick)="changeRoute()"></app-generic-button>
</div>
<div class="footer">
    ©TODOS LOS DERECHOS RESERVADOS.
    VILEAN 2022
</div>