@import '/src/styles/variables';

mat-icon {
    font-size: 21px;
    cursor: pointer;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.title-content {

    gap: 15px;
    width: 100%;

    .sub-title {
        margin: 0;
        color: $secondary;
    }
}

.modules-title {
    margin-bottom: 16px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;
}

.list-item {
    margin-bottom: 5px;

    .item-header {
        background-color: $background-color;
    }

    .actions-content {
        margin-right: 15px;

        .total-clases {
            color: $gray;
            font-size: 14px;
            margin-right: 8px;
        }
    }

    .arrow {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333;
        margin-left: auto;
        transition: transform 0.3s ease;
    }
}

.sub-list {
    list-style-type: none;
    padding-left: 48px;

    .sub-item {
        padding: 5px 0px;
    }
}

.item-sub-header {
    background-color: white;
}

    /* overflow-wrap: anywhere; */
    // text-overflow: ellipsis;
    // text-wrap: nowrap;
    // max-width: 57px;
    // overflow: hidden;