<div #mainContent></div>
<app-header-promotions></app-header-promotions>

<div class="content-page">
    <div class="display-paragraphs">
        <h1 class="color-primary">
            ¡¡Gracias por tu compra!!
        </h1>
        <p class="font-weight">
            Estamos encantados de que hayas
            elegido nuestros productos y estamos
            comprometidos a brindarte la mejor
            experiencia de compra posible.
        </p>
        <!-- <span class="start-icon"></span> -->
    </div>
    <div class="display-paragraphs margin-top">
        <h1 class="color-primary">PASO A SEGUIR:</h1>

        <div class="text-start content-steps">
            <p>
                <span class="color-primary font-weight">1. Revisa tu correo electrónico</span>,
                allí encontrarás la orden de tu pedido. (Revisa también en la
                bandeja de spam)
            </p>

            <p>
                Si no encuentras el correo, contáctate con
                nosotros a través de las líneas de atención
                que verás en la parte inferior de nuestra
                página <a href="www.vilean.co" class="color-primary">www.vilean.co</a>
            </p>

            <p>
                <span class="color-primary font-weight">2. El tiempo de entrega</span> varía de acuerdo a
                la ciudad que te encuentres, en el correo te
                detallamos los tiempos estimados.
            </p>

            <p>
                <span class="color-primary font-weight">3. Una vez recibas tus productos, </span>
                estarás listo para una nueva aventura...
            </p>
        </div>

        <p class="color-primary font-weight">¡Y LISTO!</p>

        <app-generic-button (emitClick)="changeRoute()" [nameButton]="'Página de inicio'"
            [classButton]="'class_white_color_blue'">
        </app-generic-button>
    </div>
</div>
<app-footer></app-footer>