@import 'src/styles/menu';
@import 'src/styles/variables';

.content-image {
    width: 150px;
    height: 150px;
    position: relative;
}

p-sidebar ::ng-deep .p-sidebar-right {
    height: 80%;
}

.menu-p-sidebar ::ng-deep .p-sidebar {
    background-color: $primary;
    height: 17rem;

    ::ng-deep .p-sidebar .p-sidebar-content {
        padding-bottom: 0px;
    }

    ::ng-deep .p-sidebar-header {
        padding-bottom: 0px;
    }
    
    ::ng-deep .p-sidebar-icon {
        color: white;
    }

    ::ng-deep .p-sidebar-footer {
        display: none;
    }
}