<header>
  <div class="container-desktop-menu">
    <span class="icon-logo" [routerLink]="['/home']"></span>
    <div class="menu">

      <ng-container *ngIf="displayMenu">
        <a class="item" [routerLink]="'/cursos'" routerLinkActive="router-active">
          <span>Cursos</span>
        </a>
        <a class="item" [routerLink]="['/kit-viajero']" [routerLinkActive]="'router-active'">
          <span>Kit viajero</span>
        </a>
        <a *ngIf="!user" class="item" [routerLink]="'/login'" routerLinkActive="router-active">
          <span>Iniciar sesión</span>
        </a>
        <a *ngIf="user" class="item" [routerLink]="'/estudiante/my-courses'" routerLinkActive="router-active">
          <span>Mi cuenta</span>
        </a>
      </ng-container>

      <mat-icon [matBadge]="(store.select('cart') | async).products | totalProducts" matBadgeSize="small"
        matBadgeColor="warn" (click)="openCart()">shopping_cart</mat-icon>
    </div>
  </div>
  <div class="container-mobile-menu">
    <div *ngIf="displayMenu">
      <mat-icon matBadgeSize="small" matBadgeColor="warn" (click)="toggleMenu()">menu</mat-icon>
    </div>
    <span class="icon-logo" [routerLink]="['/home']"></span>
    <mat-icon [matBadge]="(store.select('cart') | async).products | totalProducts" matBadgeSize="small"
      matBadgeColor="warn" (click)="openCart()">shopping_cart</mat-icon>
  </div>
</header>

<p-sidebar [(visible)]="sidebarVisible" position="right">
  <ng-template pTemplate="header"> Carrito de compras </ng-template>

  <ng-template pTemplate="content">
    <hr />

    <ng-container *ngFor="let item of (store.select('cart') | async).products">
      <div class="item-product">
        <div class="content-image">
          <img oncontextmenu='return false' *ngIf="item.portada" onkeydown='return false' [ngSrc]="item.portada" fill />

          <img oncontextmenu='return false' *ngIf="!item.portada" onkeydown='return false'
            [ngSrc]="item.imageProperties[0].url" fill />
        </div>
        <div class="item-description">
          <div>
            <span class="product-name" [matTooltipPosition]="'above'" [matTooltip]="item.name">{{ item.name }}</span>
            <mat-icon (click)="deleteProduct(item)" [color]="'primary'">delete_outline</mat-icon>
          </div>
          <p>Cantidad: {{ item.amount }}</p>
          <p class="value">{{ item.price | currency }}</p>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="footer">
    <hr />
    <div class="invoice-summary">
      <p>Subtotal</p>
      <p>{{ (store.select("cart") | async).products | totalValue | currency }}</p>
    </div>
    <div class="invoice-summary bold">
      <p>Total</p>
      <p>
        {{ (store.select('cart') | async).products | finalPrice: (store.select('cart') | async).shippingPrice | currency }}
      </p>
    </div>

    <div>
      <app-generic-button [nameButton]="'IR A PAGAR'" [sizeButton]="'large'" classButton="class_blue"
        (emitClick)="changeRoute()"></app-generic-button>
    </div>
  </ng-template>
</p-sidebar>

<p-sidebar [(visible)]="isMenuOpen" position="right" class="mobile-menu-s">
  <ng-template pTemplate="header"> Volver al sitio web: </ng-template>
  <ng-template pTemplate="content">
    <div class="second-menu">
      <h2 routerLink="/cursos" routerLinkActive="router-active">
        < Cursos</h2>
          <h2 [routerLink]="['/kit-viajero']" [routerLinkActive]="'router-active'">
            < Kit viajero</h2>
              <h2 *ngIf="!user" [routerLink]="'/login'" routerLinkActive="router-active">
                < Iniciar sesión</h2>
                  <h2 *ngIf="user" [routerLink]="'/estudiante/my-courses'" routerLinkActive="router-active">
                    < Mi cuenta</h2>
    </div>
  </ng-template>
</p-sidebar>