@import 'src/styles/menu';
@import 'src/styles/variables';

.content-image {
    width: 150px;
    height: 150px;
    position: relative;
}

p-sidebar ::ng-deep .p-sidebar-right {
    height: 80%;
}

p-sidebar .second-menu {
    padding-left: 20px;
}

.mobile-menu-s ::ng-deep .p-sidebar-right {
    height: 38%;
}