<div class="content-page">
    <div class="display-paragraphs">
        <h1 class="color-primary text-center">
            PAGO RECHAZADO
        </h1>

        <p class="font-bold text-start">
            El rechazo de la transacción podría
            deberse a problemas de verificación de
            la tarjeta de crédito u otras razones
            relacionadas con la pasarela de pagos.
        </p>

        <p class="self-start">
            Te recomendamos:
        </p>

        <p class="text-start">
            <span class="font-bold color-primary">
                1. Verificar los datos de tu tarjeta,
            </span>
            incluyendo el número, la fecha de
            vencimiento y el código de seguridad, así
            como la dirección de facturación.
        </p>

        <p class="text-start">
            <span class="font-bold color-primary">
                2. Asegurarte de que todos los datos sean
                correctos,
            </span> revisa detalladamente cada
            campo del formulario.
        </p>

        <p class="text-start">
            <span class="font-bold color-primary">
                3. Hacer la compra con otro medio de
                pago,
            </span> recuerda que también puedes
            hacer tu compra con PSE, Efectivo o
            SafetyPay.
        </p>

        <hr>

        <p class="text-start">
            Si el problema persiste o necesitas
            asistencia adicional, no dudes en ponerte
            en contacto con nuestro equipo. Estamos
            aquí para ayudarte a resolver cualquier
            problema y asegurarnos de que tu
            experiencia de compra sea lo más fluida
            posible.
        </p>

        <p class="text-start">
            Puedes contactarnos a través de
            <span class="font-bold color-primary">info@vilean.co</span> o a través de nuestra línea
            de Whatsapp que encuentras en la parte
            inferior de esta página.
        </p>

        <app-generic-button (emitClick)="changeRoute()" [nameButton]="'Volver al carrito'"
            [classButton]="'class_white_color_blue'">
        </app-generic-button>
    </div>
</div>