@import 'src/styles/variables';
@import "/src/styles/sweetAlertLogout";

.container {
    display: flex;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.sidebar {
    flex-basis: 20%;
}

.content {
    flex-basis: 80%;
    background-color: $white;
    height: calc(100vh - 64px);
    overflow: auto;
}