@import "/src/styles/variables";

.content-cupon {
    padding: 30px;
    border: 1px solid $border;

    .cupon-value {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }

    .input-cupon {
        display: flex;
        flex-direction: column;
    }
}

.input-name {
    width: 100%;
}