@import "/src/styles/variables";

.second-container {
  background-color: $background-color;
}

.title {
  font-weight: 700;
  font-size: 25px;
}

.sub-title {
  font-weight: 400;
  font-size: 15px;
}


.container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  color:$primary; 
}

.separador {
  width: 90%;
  height: 1px;
  margin: 10px;
}

.kit-viajero {
  background: url('https://vilean.s3.us-east-2.amazonaws.com/KIT+VIAJERO/Kit+viajero+H.jpg') no-repeat center center;
  background-size: cover;
}

.curso-fotografia {
  background: url('https://vilean.s3.us-east-2.amazonaws.com/PORTADAS/Portada+H.jpg') no-repeat;
  background-size: cover;
}

@media screen and (min-width:601px) {
  .first-container{
    display: flex;
    flex-direction: row;
  .first-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color:$primary;
    width:70%;
    flex-direction:column;
    .icon-logo-vilean {
      margin-bottom: 30px;
      display: block;
      width: 80px;
      height: 80px;
      background-image: url('../../../../assets/images/Icono_vilean.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .second-content {
    width: 100%;
    height: 100vh;
    background: url("../../../../assets/images/home.jpg") no-repeat center center;
    background-size: cover;
  }
  }

  .second-container{
    color:$primary;
    padding:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icon-logo {
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../../../../assets/images/avion_azul.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .container-ver-mas {
    .ver-mas-1{
      background-color: $primary;
      padding:40px;
      color:$white;
      display: flex;
        
      .separador{
        background-color: $white;
      }
    }

    .ver-mas-2{
      background-color: $secondary;
      padding:40px;
      display: flex;
        
      .separador{
        background-color: $primary;
      }
    }
    .photography-course {
      width: 50%;
      height: 300px;
      background-color: $white;
      border-radius: 20px;
    }
    .container-paragraph {
      display:flex;
      flex-direction:column;
      align-items: center;
      text-align: center;
      margin: 40px;
        span {
          color:$secondary;
        }

        .sub-title{
          margin:30px;
        }
    }
  }

  .container-quienes-somos {
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/images/quienes_somos_desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:$white;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

      .title{
        margin-top:60px;
      }
      
      .boton-leer-mas{
        display:flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 40px;
      }
  }

  .container-redes-sociales {
    padding:60px 0;
    display:flex;
    flex-direction: column;
    color:$primary;
    align-items: center;

    .separador {
      width: 100%;
      height: 1px;
      background-color: $primary;
      margin: 60px;
    }

    .sub-title {
      text-align: center;
      width: 300px;
      margin-bottom: 60px;
    }

    .canal-youtube-margin {
      width: 450px
    }
  }
}





@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .first-container {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url("../../../../assets/images/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
  }

  .second-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: $primary;
    padding: 30px 0;
  }
  .container-ver-mas {
    .ver-mas-1 {
      color: $white;
      background-color: $primary;
      padding-bottom: 20px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
        .separador{
          background-color: $white;
        }
  
    }
    .ver-mas-2 {
      color: $primary;
      background-color: $secondary;
      padding-bottom: 20px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
      .separador {
        background-color: $primary;
      }
    }
    .photography-course {
      width: 90%;
      margin: 50px 20px;
      height: 250px;
      background-color: $white;
      border-radius: 20px;
    }
  
    .title {
      font-weight: 700;
      font-size: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
  
      span {
        color: $secondary;
      }
    }
  
    .separador {
      width: 90%;
      height: 1px;
      margin: 10px;
    }
  
    .sub-title {
      text-align: center;
      margin: 0 25px 40px;
    }
  }

  .container-quienes-somos {
    width: 100%;
    height: 600px;
    background-image: url("../../../../assets/images/quienes_somos_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
      
      .title{
        margin:50px 0 20px;
      }
      .sub-title {
        text-align: center;
        margin: 0 50px;
      }
  
      .boton-leer-mas{
        display:flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 40px;
      }
  }
  
  .container-redes-sociales {
    display:flex;
    flex-direction: column;
    color:$primary;
    align-items: center;
    padding:40px;
    .sub-title {
      text-align: center;
      margin-bottom: 15px;
    }
    .separador {
      width: 90%;
      height: 1px;
      background-color: $primary;
      margin: 40px;
    }
  
  }

  .icon-logo {
    display: block;
    width: 50px;
    height: 30px;
    background-image: url("../../../../assets/images/avion_azul.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  
}


