<app-header-promotions></app-header-promotions>

<div class="content-title">
  <div class="content-image">
  </div>

  <div class="content-paragraph">

    <div class="slider-text">
      <p class="font-bold free-class">Clase gratuita:</p>
      <h2 class="color-primary">
        <mark class="mark"> 5 ERRORES </mark>
        COMUNES AL TOMAR FOTOS EN
        TUS VIAJES
      </h2>
      <p class="color-secondary mobile background-primary">
        y cómo corregirlos fácilmente
      </p>
      <p class="color-primary desktop">
        y cómo corregirlos fácilmente
      </p>
    </div>

    <div class="content-button button">
      <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" [nameButton]="'VER CLASE GRATIS'"
        [classButton]="'class_yellow'"></app-generic-button>
    </div>
  </div>
</div>

<app-footer></app-footer>