<app-header-promotions></app-header-promotions>

<div class="content-title">
  <div class="content-image">
  </div>

  <div class="content-paragraph">

    <div class="slider-text">
      <p class="font-bold free-class">Clase gratuita:</p>
      <h2 class="color-primary">
        <mark class="mark"> 5 TRUCOS </mark>
        PARA DESTACAR E IMPACTAR
        CON TUS FOTOS
      </h2>
      <p class="color-secondary mobile background-primary">
        de viajes en redes sociales
      </p>
      <p class="color-primary desktop">
        de viajes en redes sociales
      </p>
    </div>

    <div class="content-button button">
      <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" [nameButton]="'VER CLASE GRATIS'"
        [classButton]="'class_yellow'" (emitClick)="openModal(); sendEvent();"></app-generic-button>
    </div>
  </div>
</div>

<div class="center-columns-flex standard-paggind background-primary">
  <p class="color-white mx-w-515">
    Para marcar una diferencia en las
    redes sociales debes tomar fotos
    impactantes y que destaquen.
  </p>

  <p class="color-secondary  mx-w-515">
    Las personas que tiene mejor
    presencia en el medio digital estan
    aplicando estos trucos.
  </p>

  <p class="color-white mx-w-515">
    ¡No te quedes atrás! Luego de ver esta
    clase podrás ver un cambio total en
    tus fotos al aprender a usar los 5
    trucos.
  </p>

</div>

<div class="buy-content">
  <div class="icon-image">
    <img src="assets/images/icono.png"  alt="Logo Cel cam" />
  </div>

  <div class="buy-content-paragraphs">

    <p class="color-primary mx-w-515">
      Regístrate para ver nuestra clase
      gratuita de <span class="font-bold">5 TRUCOS PARA DESTACAR
      E IMPACTAR CON TUS FOTOS</span>
    </p>

    <app-generic-button [sizeButton]="'large'" [classButton]="'class_blue'"
      [nameButton]="'VER CLASE GRATIS'" (emitClick)="openModal(); sendEvent();"></app-generic-button>
  </div>

</div>

<div class="standard-paggind center-columns-flex background-gray">
  <p class="color-primary mx-w-515">
    Esta clase pertenece a Vilean, que
    tiene <span class="font-bold">como propósito </span> inspirarte a
    SOÑAR, VIAJAR Y CRECER.
  </p>

  <p class="color-primary mx-w-515">
    Aprovecha esta oportunidad de
    aprender los <span class="font-bold">5 TRUCOS PARA
    DESTACAR E IMPACTAR CON TUS FOTOS</span> y
    comienza a capturar imaganes impactantes...
  </p>
</div>

<div class="center-columns-flex standard-paggind">
  <p class="color-primary">
    Si quieres inspirarte y antojarte a viajar,
    síguenos en Instagram:
  </p>
  <app-generic-button [sizeButton]="'large'" [classButton]="'class_white_color_blue'"
    [nameButton]="'@vilean__'"
    (emitClick)="changeExternalRoute('https://www.instagram.com/vilean__/')"></app-generic-button>
</div>

<app-footer></app-footer>
