<ng-container *ngIf="!showPromotion">
    <app-menu></app-menu>
    <app-main-section (onAddCourse)="validateCourseAndAddInCart()"></app-main-section>
    <app-steps-section></app-steps-section>

    <section class="background-primary">
        <div class="container-info" id="video">
            <app-video class="app-video"></app-video>
            <app-info-fotos class="app-info" id="benefits"></app-info-fotos>
        </div>
    </section>

    <app-the-best-of-all></app-the-best-of-all>

    <div class="content-course-value background-primary">
        <app-course-value (onAddCourse)="validateCourseAndAddInCart()" 
        [typeClass]="'letter_yellow_white'"></app-course-value>
    </div>

    <app-bad-things></app-bad-things>

    <app-buy-section class="app-buy" (onAddCourse)="validateCourseAndAddInCart()"></app-buy-section>
    <app-fast-learning></app-fast-learning>

    <div class="background-secondary course-value-content">
        <app-course-value (onAddCourse)="validateCourseAndAddInCart()" [showHr]="false"
            [typeClass]="'letter_blue'" [classButton]="'class_blue'"></app-course-value>
    </div>
    <app-carousel-section class="app-carousel" id="coursel"></app-carousel-section>

    <app-course-content-section id="content-course"></app-course-content-section>
    <app-cards></app-cards>
    <app-benefits-session></app-benefits-session>
    <div class="content-course-value background-primary">
        <app-course-value (onAddCourse)="validateCourseAndAddInCart()"
        [typeClass]="'letter_yellow_white'"></app-course-value>
    </div>
    <app-our-purpose></app-our-purpose>
    <app-travel-kit id="travel-kit"></app-travel-kit>
    <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="showPromotion">
    <app-kit-promotion (onAddTravelKit)="addKit()"></app-kit-promotion>
</ng-container>