@import "/src/styles/variables";

.container-info {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  gap: 35px;
}

.desktop {
  display: none;
}

.container-carousel {
  display: flex;
  flex-direction: column;
}

.content-course-value {
  padding: 0px 0px 60px;
}

.display-none {
  display: none;
}

.background-primary {
    background: $primary;
}

.background-secondary {
  background: $secondary;
}

.test {
  padding-bottom: 40px;
}

@media screen and (min-width: 936px) {
  .movil {
    display: none;
  }

  .desktop {
    display: block;
  }

  .container-info {
    flex-direction: row-reverse;
    background-color: $primary;
    padding: 0 80px;
  }

  .app-video {
    width: 40%;
  }

  .app-info {
    width: 35%;
  }

  .container-carousel {
    flex-direction: column-reverse;
  }

  .display-none {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .container-info {
    gap: 20px;
  }
}

@media screen and (max-width: 1341px) and (min-width: 936px) { 
  .app-video {
    width: 60%;
  }
}