@import "/src/styles/variables";

.container-info {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  gap: 35px;
}

.desktop {
  display: none;
}

.content-course-value {
  padding: 0px 0px 60px;
}

.background-secondary {
  background: $secondary;
}

.test {
  padding-bottom: 40px;
}

.course-value-content {
  padding: 40px 30px;

  app-course-value ::ng-deep.content {
    width: 100%;
  }
}

@media screen and (min-width: 936px) {
  .desktop {
    display: block;
  }

  .container-info {
    flex-direction: row-reverse;
    background-color: $primary;
    padding: 0 80px;
  }
}

@media screen and (max-width: 420px) {
  .container-info {
    gap: 40px;
    width: 100%;
  }
}