<ng-container *ngIf="!showPromotion">
  <app-menu></app-menu>
  <app-main-section (onAddCourse)="validateCourseAndAddInCart()"></app-main-section>
  <app-its-for-you-checks></app-its-for-you-checks>
  <app-like-fotos></app-like-fotos>
  <app-why-section></app-why-section>
  <app-carousel-section2 class="app-carousel" id="coursel2"></app-carousel-section2>
  <app-amazing-fotos></app-amazing-fotos>
  <app-secrets-section></app-secrets-section>
  <app-really-do-it></app-really-do-it>
  <app-price-section (onAddCourse)="validateCourseAndAddInCart()"></app-price-section>
  <app-asequible-section></app-asequible-section>
  <app-learnings-section></app-learnings-section>
  <app-benefits-session></app-benefits-session>
  <app-access-section></app-access-section>
  <app-complete-course></app-complete-course>
  <app-fast-learning2></app-fast-learning2>
  <app-act-now></app-act-now>
  <app-price-section (onAddCourse)="validateCourseAndAddInCart()"></app-price-section>
  <app-spoiler-alert></app-spoiler-alert>
  <app-course-content-section id="content-course2"></app-course-content-section>
  <app-cards></app-cards>


  <app-faq></app-faq>
  <app-price-section (onAddCourse)="validateCourseAndAddInCart()"></app-price-section>
  <app-our-purpose></app-our-purpose>
  <app-footer></app-footer>


</ng-container>

<ng-container *ngIf="showPromotion">
  <app-kit-promotion (onAddTravelKit)="addKit()"></app-kit-promotion>
</ng-container>
