@import '/src/styles/variables';

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: $background-color;
}

.content-component {
    padding: 30px;
}

table {
    width: 100%;
}

.table-transactions{

    max-height:400px;
    overflow: auto;
}

td {
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}