@import "/src/styles/variables";

.vertical-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f8f8f8;
}

a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #ddd;
}

a.active {
    background-color: $secondary;
}

mat-icon {
    margin-right: 10px;
}

.sidebar {
    display: none;
}

@media only screen and (min-width: 734px) {

    .container {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        flex-basis: 20%;
        display: block;
    }

    .content {
        flex-basis: 80%;
        background-color: $white;
    }

    .vertical-menu {
        display: none;
    }
}

// ESTILOS DE LA ALRTA DE LOGOUT
::ng-deep.swal2-confirm, ::ng-deep.swal2-cancel {
    padding: 5px 25px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

::ng-deep .swal2-confirm {
    margin-right: 15px;
    background-color: $primary;
    color: $secondary;
    font-weight: 700;
}

::ng-deep .swal2-confirm:focus-visible{
    outline: none;
}

::ng-deep .swal2-cancel {
    margin-right: 15px;
    background-color: $background-color;
    color: $gray;
}

::ng-deep .swal2-title {
    font-size: 1.5em;
}