<app-menu-student></app-menu-student>
<nav class="vertical-menu">
    <a routerLink="my-courses" routerLinkActive="active">
        <mat-icon>book</mat-icon>
        Mis Cursos
    </a>
    <a routerLink="profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Mi Perfil
    </a>
    <a (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar Sesión
    </a>
</nav>
<div class="container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>