.content-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 0px 35px 25px;
}

.mat-spinner-color::ng-deep circle {
    stroke: white !important;
}

.styleMargin {
    margin: 5px 0px 5px 0px;
}