@import "/src/styles/variables";

.name-course {
    display: flex;
    justify-content: center;
    background-color: $secondary;
    color: $gray;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;

    h4 {
        margin: 0px;
    }
}

video {
    align-self: center;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    height: calc(100vh - 64px);
}

.sidebar {
    flex-basis: 20%;
}

.content {
    height: calc(100vh - 64px);
    overflow: auto;
    flex-basis: 80%;
    background-color: $white;

    .vertical-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #f8f8f8;
        position: sticky;
        top: 65px;
        z-index: 1;
    }
}


a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #ddd;
}

a.active {
    background-color: $secondary;
}

mat-icon {
    margin-right: 10px;
}

.content-class {
    width: 90%;
    margin: 25px auto 0px;

    .title {
        color: $secondary;
    }
}

.content-video {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: justify;
}

.container {
    display: none;
}

.comptleted {
    background-color: $secondary;
}

@media only screen and (min-width: 734px) {
    .content-video {
        flex-direction: row;
        align-items: initial;
        gap: 55px;
    }

    .container {
        display: flex;
    }

    .mobile {
        display: none;
    }

    video {
        align-self: flex-start;
    }

    .name-course {
        display: none;
    }

    .content {
        .vertical-menu {
            top: 0px;
        }
    }
}

.center-content {
    justify-content: center;
}