<app-menu-student></app-menu-student>
<ng-container *ngIf="class">
    <div class="container">
        <div class="sidebar">
            <app-sidebar-user [idCourse]="idCourse" [activeClass]="class"></app-sidebar-user>
        </div>
        <ng-container *ngTemplateOutlet="contentClass"></ng-container>
    </div>
    
    <div class="mobile">
        <ng-container *ngTemplateOutlet="contentClass"></ng-container>
    </div>
</ng-container>

<ng-container *ngIf="!class">
    <h1>No se encontro la clase</h1>
</ng-container>

<ng-template #contentClass>
    <div class="content">
        <nav class="vertical-menu">
            <a (click)="previousClass()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Clase anterior
            </a>
            <a [ngClass]="{'comptleted': class.completed}" (click)="completedClass()">
                <mat-icon>person</mat-icon>
                Marcar completa
            </a>
            <a (click)="nextClass()">
                Clase siguiente
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        </nav>

        <div class="content-class">
            <h3 class="title"> {{class.name}} </h3>
            <hr>
            <div class="content-video">
                <video oncontextmenu='return false' onkeydown='return false' width="300"
                    src="{{class.url}}" controls
                    controlsList="nodownload noremoteplayback"></video>
                <p [innerHTML]="class.description"></p>
            </div>
        </div>
    </div>
</ng-template>