<div class="spinner" *ngIf="showSpinner">
    <mat-spinner [color]="'primary'"></mat-spinner>
</div>

<app-menu-student></app-menu-student>
<ng-container *ngIf="!showSpinner && class">
    <div class="container">
        <div class="sidebar">
            <app-sidebar-user [idCourse]="idCourse" [activeClass]="class"></app-sidebar-user>
        </div>
        <ng-container *ngTemplateOutlet="contentClass"></ng-container>
    </div>
    
    <div class="mobile">
        <ng-container *ngTemplateOutlet="contentClass"></ng-container>
    </div>
</ng-container>

<ng-container *ngIf="!showSpinner && !class">
    <h1>No se encontro la clase</h1>
</ng-container>

<ng-template #contentClass>
    <div class="content">
        <div class="name-course" [routerLink]="'/estudiante/course/' + idCourse">
            <mat-icon>school</mat-icon>
            <h4>
                {{nameCourse}}
            </h4>
        </div>
        <nav class="vertical-menu">
            <a (click)="previousClass()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Clase anterior
            </a>
            <a [ngClass]="{'comptleted': isCompletedClass}" (click)="completedClass()">
                <mat-icon>person</mat-icon>
                Marcar completa
            </a>
            <a (click)="nextClass()">
                Clase siguiente
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        </nav>

        <div class="content-class">
            <p>{{ nameModule }}</p>
            <h3 class="title"> {{class.name}} </h3>
            <hr>
            <div [class.center-content]="!class.description" class="content-video">
                <div [innerHTML]="video"></div>
                <p *ngIf="class.description && class.description !== ''" [innerHTML]="class.description"></p>
            </div>
        </div>
        <div>
            <app-comments [class]="class" [idCourse]="idCourse" [idModule]="idModule"></app-comments>
        </div>
    </div>
</ng-template>