<div class="content">
    <p>O si quieres comprar los productos por individual, también puedes hacerlo:</p>
    <div class="content-cards" *ngIf="products.length > 0">
        <div *ngFor="let item of products" class="card">
            <img oncontextmenu='return false' onkeydown='return false' [ngSrc]="item.imageProperties![0].url" alt="{{item.name}}" [width]="'1080'" [height]="'1350'">
            <div class="card-info">
                <p class="product-name" [matTooltip]="item.name!" [routerLink]="'view-product/' + item._id">{{item.name}}</p>
                <p>{{item.price | currency }}</p>
                <app-generic-button (emitClick)="handleClick(item)" class="component-button" [sizeButton]="'small'" [nameButton]="'Añadir al carrito'"></app-generic-button>
            </div>
        </div>
    </div>
</div>