<!-- <button (click)="validateReference({ name: 'product1', price: 366, _id: '34' })"> Agregar producto </button>

PRODUCTS !!!
<button (click)="updateProduct({ name: 'test', price: 366, _id: '34' })"> Editar producto </button>

<button (click)="deleteProduct({ name: 'test', price: 366, _id: '34' })"> Eliminar producto </button> -->

<!-- <video oncontextmenu='return false' onkeydown='return false' width="200" src="https://mytest2000jrr.s3.amazonaws.com/Sweet+Dreams+-+Larissa+Liveir.mp4" controls controlsList="nodownload noremoteplayback"></video> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
            
            <mat-icon >edit</mat-icon>
            <mat-icon > delete </mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>