<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidebar-container">
    <mat-nav-list>
      <a class="item" routerLink="/home">
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
      </a>
      <a class="item" routerLink="courses" routerLinkActive="router-active">
        <mat-icon>shop</mat-icon>
        <span>Cursos</span>
      </a>
      <a class="item" routerLink="/contact">
        <mat-icon>shopping_cart</mat-icon>
        <span>Productos</span>
      </a>
      <a class="item" routerLink="/home">
        <mat-icon>attach_money</mat-icon>
        <span>Transacciones</span>
      </a>
      <a class="item" routerLink="/about">
        <mat-icon>bar_chart</mat-icon>
        <span>Analíticas</span>
      </a>
      <a class="item" routerLink="/contact">
        <mat-icon>stars</mat-icon>
        <span>Ofertas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>