@import "/src/styles/variables";

.content-page {
    padding: 50px;
    text-align: center;
}

.color-primary {
    color: $primary;
}

.font-weight {
    font-weight: 700;
}

mark {
    background-color: $secondary;
}

.display-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.margin-top {
    margin: 25px auto 0px;
}

.text-start {
    text-align: start;
}

.content-steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

hr {
    width: 80%;
    border-bottom-color: $primary;
}

@media only screen and (max-width: 768px) {
    .content-page {
        padding: 50px 15px;
    }
}