// Progressbar

::ng-deep .p-progressbar {
    background-color: white;
    border: 1px solid gray;
}

::ng-deep .p-progressbar .p-progressbar-value {
    background-color: #dee2e6;
}

::ng-deep .p-progressbar-determinate .p-progressbar-value {
    position: unset !important;
}

::ng-deep .p-progressbar-determinate .p-progressbar-label {
    position: absolute;
    left: 49%;
    color: #464242;
    font-weight: 700;
}

.progress-0 {
    height: 1.5rem;
    background: #ffffff;
    color: #464242;
    border-radius: 6px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    font-weight: 700;
}