<header>
    <div class="free-class-video">
        <span class="icon-logo-video"></span>
        <p class="color-white font-bold">Clase gratuita</p>
    </div>
    <span class="icon-logo"></span>
</header>

<div class="content-title">
    
    <div class="content-paragraph color-bg">
        <div class="slider-text">
            <p class="font-bold color-primary">Clase gratuita:</p>
            <h2 class="color-primary">
                <mark class="color-primary background-secondary"> 5 ERRORES </mark>
                COMUNES AL TOMAR FOTOS EN
                TUS VIAJES
            </h2>
            <p class="color-primary">
                y cómo corregirlos fácilmente
            </p>
        </div>
    </div>
    <iframe src="https://player.vimeo.com/video/872418892?badge=0&amp;autopause=0&amp;quality_selector=1&amp;progress_bar=1&amp;player_id=0&amp;app_id=58479" width="415" height="553" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Clase gratuita"></iframe>
</div>

<div class="background-primary content-text">

    <div class="color-white advice">
        <h3 style="max-width: 400px;">
            ¡¡Mejora tus habilidades
            fotográficas y siéntete más
            satisfecho con tus fotos!!
        </h3>
        <p class="mx-wdth-620">
            Captura recuerdos inolvidables en tus
            viajes que no solo perdurarán para
            siempre en tu memoria sino que
            también te permitirán destacar en
            redes sociales al aprender a transmitir
            la belleza de cada lugar que visites...
        </p>
    </div>

    <div class="warning">
        <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" [nameButton]="'INFO DEL CURSO'"
            [classButton]="'class_yellow'"
            (emitClick)="changeRoute()"></app-generic-button>

        <p class="color-secondary mx-wdth">
            Recuerda que tienes 14 días para hacer el curso y si no logras mejorar tus fotos, te devolvemos todo tu
            dinero.
        </p>
    </div>
</div>

<div class="footer">
    © 2023 GRUPO LEAN S.A.S.
</div>