<header>
    <div class="free-class-video">
        <span class="icon-logo-video"></span>
        <p class="color-white font-bold">Clase gratuita</p>
    </div>
    <span class="icon-logo"></span>
</header>

<div class="content-title">
    
    <div class="content-paragraph color-bg">
        <div class="slider-text">
            <p class="font-bold color-primary">Clase gratuita:</p>
            <h2 class="color-primary">
                <mark class="color-primary background-secondary"> 5 TRUCOS </mark>
                PARA DESTACAR E IMPACTAR
                CON TUS FOTOS
            </h2>
            <p class="color-primary">
                de viajes en redes sociales
            </p>
        </div>
    </div>
    <iframe src="https://player.vimeo.com/video/872418892?badge=0&amp;autopause=0&amp;quality_selector=1&amp;progress_bar=1&amp;player_id=0&amp;app_id=58479" width="415" height="553" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Clase gratuita"></iframe>
</div>

<div class="background-primary content-text">

    <div class="color-white advice">
        <p class="mx-wdth-620">
          Con la competencia que existe en el medio
          digital, no se puede generar un gran impacto
          subiendo fotos sencillas y sin técnica. Tienes
          que hacerlo con fotos que impacten y
          llamen la at ención de verdad.
        </p>
        <h3 style="max-width: 400px; font-weight: 600;">
          Aprende cómo lograrlo con
          nuestro curso de Fotografía para
          Viajes con tu Celular
        </h3>
    </div>

    <div class="warning">
        <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" [nameButton]="'INFO DEL CURSO'"
            [classButton]="'class_yellow'"
            (emitClick)="changeRoute()"></app-generic-button>

        <p class="color-secondary mx-wdth font-x-small">
            Recuerda que tienes 14 días para hacer el curso y si no logras mejorar tus fotos, te devolvemos todo tu
            dinero.
        </p>
    </div>
</div>

<div class="footer">
    © 2023 GRUPO LEAN S.A.S.
</div>
