<header>
    <div class="free-class-video">
        <span class="icon-logo-video"></span>
        <p class="color-white font-bold">Clase gratuita</p>
    </div>
    <span class="icon-logo"></span>
</header>

<div class="content-title">
    
    <div class="content-paragraph">
        <div class="slider-text">
            <p class="font-bold color-primary">Clase gratuita:</p>
            <h2 class="color-primary">
                <mark class="color-primary background-secondary"> 5 ERRORES </mark>
                COMUNES AL TOMAR FOTOS EN
                TUS VIAJES
            </h2>
            <p class="color-primary">
                y cómo corregirlos fácilmente
            </p>
        </div>
    </div>
    <iframe  src="https://player.vimeo.com/video/869918330?title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;airplay=0&amp;audio_tracks=0&amp;chapters=0&amp;chromecast=0&amp;closed_captions=0&amp;transcript=0&amp;player_id=0&amp;app_id=58479" width="415" height="553" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="0A4A57B9-92D4-483B-B648-53F5A9F9C32A"></iframe>
</div>

<div class="background-primary content-text">
    <p class="color-white mx-wdth-620">
        ¡¡Por haber accedido a esta clase
        gratuita, te damos una oferta súper
        especial en nuestro CURSO DE
        FOTOGRAFÍA PARA VIAJES CON TU
        CELULAR!!
    </p>

    <div class="color-white advice">
        <p>
            Al momento de pagar, solo debes añadir
            el cupón de descuento:
        </p>

        <h3>
            CUPÓN: BARCELONA
        </h3>

        <p class="mx-wdth">
            Válido solo durante estos tres días:
            6, 7 y 8 de Octubre de 2023
        </p>
    </div>

    <div class="warning">
        <app-generic-button [sizeButton]="'large'" [showCouponTextCourse]="false" [nameButton]="'INFO DEL CURSO'"
            [classButton]="'class_yellow'"
            (emitClick)="changeRoute()"></app-generic-button>

        <p class="warning-p color-secondary mx-wdth font-x-small">
            Recuerda que tienes 14 días para hacer el curso y si no logras mejorar tus fotos, te devolvemos todo tu
            dinero.
        </p>
    </div>
</div>

<div class="chance">
    <h3 class="color-primary">
        Aprovecha esta gran oportunidad por tiempo limitado
    </h3>
    <p class="color-primary">
        y comienza a mejorar tus habilidades fotográficas para convertir tus
        viajes en recuerdos inolvidables...
    </p>
</div>

<div class="footer">
    © 2023 GRUPO LEAN S.A.S.
</div>