PRODUCTS !!!
<button (click)="validateReference({ name: 'product1', price: 366, id: '34' })"> Agregar producto </button>

PRODUCTS !!!
<button (click)="updateProduct({ name: 'test', price: 366, id: '34' })"> Editar producto </button>

<button (click)="deleteProduct({ name: 'test', price: 366, id: '34' })"> Eliminar producto </button>

<!-- <video oncontextmenu='return false' onkeydown='return false' width="200" src="https://mytest2000jrr.s3.amazonaws.com/Sweet+Dreams+-+Larissa+Liveir.mp4" controls controlsList="nodownload noremoteplayback"></video> -->