<div class="best-of-all">
    <hr>
    <h2 class="color-white">LO MEJOR DE TODO:</h2>
    <ul class="max-wth">
        <li>Sin invertir cientos de dólares.
        </li>

        <li>Sin gastar horas en estudio.
        </li>

        <li>Sin necesidad de un celular costoso.
        </li>
        <li>Sin ser un experto manejando el celular
            ni tener experiencia en fotografía.
        </li>
    </ul>

    <p class="max-wth text-center">
        ¡Aprende a tomar mejores fotos!
        Y revive la experiencia del viaje durante
        toda tu vida...
    </p>
</div>