<app-menu></app-menu>

<div class="content-politic">
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Política de
                        privacidad</strong></p>
        <p class="ql-align-center"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">De conformidad
                        con lo establecido en la Ley de Protección de Datos Personales Ley 1581 de 2012, relativo a la
                        protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la
                        libre circulación de estos datos por el que se regula el derecho de información en la recogida
                        de datos, le informamos sobre nuestra política de tratamiento de datos.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Responsable
                        del tratamiento:</strong></p>
        <p class="ql-align-justify"><br></p>
        <p><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S.</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Marca comercial: </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">VILEAN</strong></p>
        <p><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Domicilio
                        social: Calle 37 b sur #27 d-44 Envigado Antioquia, Colombia.</span></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Email de
                        contacto:vileanrg</span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">@gmail.com</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Finalidades
                        del tratamiento de los datos:</strong></p>
        <p class="ql-align-justify"><br></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Tramitar las compras
                                realizadas en la web</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar las listas de
                                espera de las personas interesadas en cursos, ebooks, productos de kit viajero y
                                mentorías.&nbsp;</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Responder a las consultas
                                realizadas a través del formulario de contacto de la web y el correo electrónico.</span>
                </li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los testimonios
                                y comentarios dejados en redes sociales de Vilean.</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los grupos
                                creados en plataformas digitales como resultados de productos o servicios adquiridos en
                                esta web.</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Realizar
                                remarketing</span></li>
                <li class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Enviar
                                información comercial y promocional de nuevos productos y servicios</span></li>
        </ul>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Plazo de
                        conservación de los datos</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los datos se
                        conservarán mientras el titular no solicite su supresión, o mientras existan obligaciones
                        legales que obliguen a su conservación.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Sus derechos
                        en materia de protección de datos</strong></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Acceder</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Rectificar</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Suprimir</span></li>
                <li class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Otros
                                derechos que se detallan en la información ampliada sobre protección de datos</span>
                </li>
        </ul>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">INFORMACIÓN
                        AMPLIADA SOBRE PROTECCIÓN DE DATOS</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Quién es la
                        persona responsable del tratamiento de sus datos personales?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los datos de
                        carácter personal que nos suministren a través de nuestra página web serán objeto de tratamiento
                        bajo la responsabilidad de </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S.</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Marca
                        comercial: </span><strong style="background-color: transparent; color: rgb(33, 37, 41);">VILEAN
                </strong><span style="background-color: transparent; color: rgb(33, 37, 41);">Domicilio social: Calle 37
                        b sur #27 d-44 Envigado Antioquia, Colombia.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Email de
                        contacto: </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">vileanrg@gmail.com</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Qué datos
                        personales recopilamos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">En este Sitio
                        web se recogen datos de carácter identificativos y bancarios cuando la persona usuaria hace uso
                        del formulario contacto, deja algún testimonio o comentario, o realiza una compra en nuestra
                        tienda.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los datos
                        personales que se solicitan son:</span></p>
        <p class="ql-align-justify"><br></p>
        <ul>
                <li class="ql-align-justify"><strong style="background-color: transparent;">Datos
                                identificativos</strong><span style="background-color: transparent;"> (nombre,
                                apellidos, documento de identidad)</span></li>
                <li class="ql-align-justify"><strong style="background-color: transparent;">Datos
                                bancarios</strong><span style="background-color: transparent;"> (número de tarjeta
                                bancaria)</span></li>
                <li class="ql-align-justify"><strong style="background-color: transparent;">Datos de
                                contacto</strong><span style="background-color: transparent;"> (correo electrónico,
                                número de celular, residencia)</span></li>
        </ul>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">También se
                        podrían recoger datos de carácter técnico como su dirección IP o de ubicación al ejecutarse las
                        cookies propias y de terceros utilizadas en este Sitio.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Para conocer
                        mejor las cookies que utiliza este Sitio visite nuestra Políticas de cookies.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Con qué
                        finalidad tratamos sus datos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Tramitar las compras
                                realizadas en la web</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar las listas de
                                espera de las personas interesadas en cursos, ebooks, productos del kit viajero y
                                mentorías.</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Responder a las consultas
                                realizadas a través del formulario de contacto de la web y el correo electrónico.</span>
                </li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los testimonios
                                y comentarios dejados en redes sociales de vilean</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los grupos
                                creados en plataformas digitales como resultados de productos o servicios adquiridos en
                                esta web.</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Realizar
                                remarketing</span></li>
                <li class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Enviar
                                información comercial y promocional de nuevos productos y servicios</span></li>
        </ul>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Cuál es la
                        legitimación para el tratamiento de sus datos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Interés legítimo
                        para</u></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar las listas de
                                espera de las personas interesadas en Mentorías y Entrenamientos.</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Responder a las consultas
                                realizadas a través del formulario de contacto de la web y el correo electrónico.</span>
                </li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los testimonios
                                y comentarios dejados en redes sociales de vilean</span></li>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Realizar
                                remarketing</span></li>
                <li class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Enviar
                                información comercial y promocional de nuevos productos y servicios</span></li>
        </ul>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Ejecución de un
                        contrato</u></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Tramitar las compras
                                realizadas en la web</span></li>
        </ul>
        <p><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Consentimiento
                        informado</u></p>
        <ul>
                <li class="ql-align-justify"><span
                                style="background-color: transparent; color: rgb(33, 37, 41);">Gestionar los grupos
                                creados en plataformas digitales como resultados de productos o servicios adquiridos en
                                esta web</span></li>
        </ul>
        <p><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Cuánto
                        tiempo conservamos los datos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los datos
                        personales que nos facilite se conservarán mientras no nos solicite su supresión. Y en su caso,
                        durante el plazo previsto por la legislación fiscal respecto a la prescripción de
                        responsabilidades.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿A qué
                        destinatarios se comunican sus datos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">No se prevén
                        comunicaciones a terceras personas o empresas.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">En aquellos
                        casos en que sea necesario comunicar sus datos personales para la prestación del servicio
                        contratado los proveedores externos (por ejemplo, proveedores de pago, empresas de reparto u
                        organizadores de nuestros eventos) solo podrán usar los datos para ejecutar los servicios
                        correspondientes.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">En ningún caso
                        estarán autorizados para utilizar dicha información para fines propios o para cesión a
                        terceros.</span></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Nunca se
                        venderán los datos a terceros.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Tampoco están
                        previstas realizar transferencias internacionales de sus datos.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Dónde se
                        almacenan sus datos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">El servidor
                        físico que almacena los datos personales recogidos a través de nuestra página web está situado
                        Suramérica</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Qué derechos
                        le asisten y cómo puede ejercerlos?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Usted puede
                        dirigir sus comunicaciones y ejercitar sus derechos mediante una petición al siguiente correo
                        electrónico vileanrg@gmail.com</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Para atender su
                        solicitud deberá adjuntar copia de su documento de identidad y especificar en su solicitud el
                        derecho que ejerce.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">En virtud de lo
                        que establece el RGPD sus derechos son:</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Derecho de
                        acceso:</u><span style="background-color: transparent; color: rgb(33, 37, 41);"> puede pedir
                        información de aquellos datos personales que dispongamos acerca de usted.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Derecho de
                        rectificación:</u><span style="background-color: transparent; color: rgb(33, 37, 41);"> puede
                        comunicar cualquier cambio en sus datos personales.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Derecho de
                        supresión y al olvido:</u><span style="background-color: transparent; color: rgb(33, 37, 41);">
                        puede solicitar la eliminación previo bloqueo de los datos personales.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Derecho de
                        limitación al tratamiento:</u><span
                        style="background-color: transparent; color: rgb(33, 37, 41);"> supone la restricción del
                        tratamiento de los datos personales.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><u style="background-color: transparent; color: rgb(33, 37, 41);">Derecho de
                        oposición:</u><span style="background-color: transparent; color: rgb(33, 37, 41);"> puede
                        retirar el consentimiento del tratamiento de los datos, oponiéndose a que se sigan
                        tratando.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">En algunos
                        casos, se podrá rechazar la solicitud si solicita que se eliminen datos necesarios para el
                        cumplimiento de obligaciones legales.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Si considera
                        que no ha obtenido satisfacción plena en el ejercicio de sus derechos, podrá presentar una
                        reclamación ante la autoridad nacional de control dirigiéndose a estos efectos ante la autoridad
                        autonómica competente.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Quién es el
                        responsable de la exactitud y veracidad de los datos facilitados?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Usted como
                        persona usuaria de la web es la única responsable de la veracidad y corrección de los datos
                        proporcionados, exonerándose al responsable de tratamiento de cualquier responsabilidad al
                        respecto.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los usuarios
                        garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos
                        personales facilitados, y se comprometen a mantenerlos debidamente actualizados. El usuario
                        acepta proporcionar información completa y correcta en el formulario de registro o
                        suscripción.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN
                        S.A.S</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> no responde
                        de la veracidad de las informaciones que no sean de elaboración propia y que provengan de otra
                        fuente, por lo que tampoco asume responsabilidad alguna en cuanto a hipotéticos perjuicios que
                        pudieran originarse por el uso de dicha información.</span></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Nos reservamos
                        el derecho a actualizar, modificar o eliminar la información contenida en sus páginas webs
                        pudiendo incluso limitar o no permitir el acceso a dicha información.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Se exonera a
                </span><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN
                        S.A.S</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> de
                        responsabilidad ante cualquier daño o perjuicio que pudiera sufrir el usuario como consecuencia
                        de errores, defectos u omisiones, en la información facilitada a través de nuestra web siempre
                        que ésta proceda de fuentes ajenas a </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S.</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Cómo
                        tratamos los datos personales de los menores de edad?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Nuestros
                        productos no van dirigidos específicamente a menores de edad.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Qué medidas
                        de seguridad aplicamos para proteger tus datos personales?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN
                        S.A.S.</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> ha adoptado
                        los niveles de seguridad de protección de los datos personales adecuados al tratamiento que
                        realizamos, y procuramos instalar aquellos medios o medidas técnicas adicionales a nuestro
                        alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos
                        personales facilitados por los usuarios y clientes.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN
                        S.A.S.</strong><span style="background-color: transparent; color: rgb(33, 37, 41);">&nbsp; no es
                        responsable de hipotéticos daños o perjuicios que se pudieran derivar de interferencias,
                        omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el
                        funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a
                </span><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN
                        S.A.S.</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> ; de
                        retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o
                        sobrecargas de líneas telefónicas o sobrecargas en el Centro de Procesos de Datos, en el sistema
                        de Internet o en otros sistemas electrónicos, así como de daños que puedan ser causados por
                        terceras personas mediante intromisiones ilegítimas fuera del control de </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S.</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Todo ello, no
                        obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son
                        inexpugnables.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Cómo
                        utilizamos las cookies?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Este Sitio web
                        y las RRSS de </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S.</strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);"> utilizan cookies a los efectos
                        de optimizar y personalizar su navegación por el mismo.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Los datos
                        recopilados mediante las cookies pueden ser compartidos con los creadores de las mismas, pero en
                        ningún caso la información obtenida por las mismas será asociada a datos personales ni a datos
                        que puedan identificar al usuario.</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Sin embargo, si
                        el usuario no desea que se instalen cookies en su disco duro, tiene la posibilidad de configurar
                        el navegador de tal modo que impida la instalación de estos archivos. Para obtener más
                        información consulte nuestra Política de Cookies</span></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><strong style="background-color: transparent; color: rgb(33, 37, 41);">¿Puede
                        modificarse la política de privacidad?</strong></p>
        <p class="ql-align-justify"><br></p>
        <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(33, 37, 41);">Esta política
                        de privacidad puede modificarse. Te recomendamos que revises la política de privacidad con
                        cierta periodicidad.</span></p>

</div>

<app-footer></app-footer>