<div class="really-do-it">
  <section class="section">
    <h3 class="color-primary">Ahora la pregunta es,
      <br>
      <mark>¿Realmente quieres hacerlo?</mark>
    </h3>
    <p>Tendrás que hacer una pequeña inversión, y lo mejor de todo: <b>a cero riesgo.</b></p>
    <p>Porque si aplicando todo lo que te enseñamos en el curso, no logras mejorar tus
      fotos, <b>te devolvemos todo tu dinero.</b> Esa es nuestra garantía de satisfacción.</p>

    <h3>Podrás hacerlo:</h3>

    <div class="grid-two-columns">
      <ul>
        <li>Sin invertir cientos de dólares.</li>
        <li>Sin gastar horas en estudio.</li>
        <li>Sin necesidad de adquirir un celular
          costoso.
        </li>
      </ul>
      <ul>
        <li>Sin ser un experto manejando el
          celular.
        </li>
        <li>Sin tener experiencia en fotografía.</li>
      </ul>
    </div>
  </section>
</div>
