@import '/src/styles/variables';
@import '/src/styles/buttonFile';

::ng-deep.p-button {
    background: $primary;
}

form {
    width: 90%;
    margin: 40px auto;
}

.content-form {

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;

    .course-content-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: right;

        .button-file {
            display: flex;
            align-items: center;
            gap: 12px;
            justify-self: flex-start;

            p {
                max-width: 100px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

textarea,
.input-name {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .content-form .course-content-image {
        display: flex;
        flex-direction: column-reverse;
        max-width: 235px;
        gap: 30px;

        .button-file {
            flex-direction: column;
        }

        ::ng-deep .p-inputnumber-input {
            max-width: 235px;
        }
    }
}