<app-title-modal [titleModal]="'Crear curso'"></app-title-modal>

<form [formGroup]="form">

    <div class="content-form">

        <span class="p-float-label">
            <input pInputText id="username" formControlName="name" class="input-name" />
            <label htmlFor="username">{{ 'Curso' | translate }}</label>
        </span>

        <p-editor formControlName="description" [style]="{ height: '300px' }"></p-editor>

        <div class="course-content-image">
            <div class="button-file">
                <input type="file" id="images" name="images" class="custom-file-input"  (change)="onFileSelected($event)">
                <label for="images" class="custom-file-label">Seleccionar imagen</label>
                <p *ngIf="nameImage">{{ nameImage }}</p>
            </div>

            <span class="p-float-label">
                <p-inputNumber id="float-input" formControlName="price" inputId="currency-us" mode="currency"
                    currency="USD" locale="en-US"> </p-inputNumber>
                <label for="float-input">{{ 'products.form.price' | translate }}</label>
            </span>
        </div>

    </div>
</form>

<app-buttons-modal [disabledButton]="form.invalid || nameImage == ''" (handleSaveButton)="validateAction()"
    [loading]="loading"></app-buttons-modal>