<div class="act-now">
  <section class="section">
    <h1 class="color-primary">No dejes que el tiempo
      <mark> siga pasando.</mark>
    </h1>
    <p>Si realmente quieres lograr esto y mucho más, debes tomar acción ahora
      mismo.</p>
    <p>Ya sabes que sueles aplazar tus grandes deseos por varios motivos o excusas.
      Luego, a los días, semanas o meses <b>te preguntas a tí mismo: ¿Por qué no lo hice
        antes?</b></p>
    <p>Haz la excepción en esta ocasión, adquiere el curso ahora mismo y no
      postergues más tus deseos.</p>
    <p><b>Estás a menos de 1 hora de aprender todos los secretos, trucos, técnicas y
      conceptos que necesitas saber </b>para lograr capturar fotos asombrosas que
      destaquen e inspiren en redes sociales.</p>
    <hr>
  </section>
</div>
