@import '/src/styles/variables';


::ng-deep.p-button {
    background: $primary;
}

form {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

textarea, .input-name {
    width: 100%;
}

.columns-2 {
    display: grid;
    width: 100%;
    grid-template-columns: 78% 20%;
    column-gap: 17px;
}

@media screen and (max-width: 500px) {
    .content-name-duration {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}