<app-title-modal [titleModal]="'Crear clase'"></app-title-modal>

<form [formGroup]="form">
    <div class="columns-2 content-name-duration">
        <span class="p-float-label">
            <input pInputText id="username" formControlName="name" class="input-name" />
            <label htmlFor="username">{{ 'Clase' | translate }}</label>
        </span>

        <span class="p-float-label">
            <input pInputText id="duration" formControlName="duration" class="input-name" />
            <label htmlFor="duration">{{ 'Duración' | translate }}</label>
        </span>
    </div>

    <span class="p-float-label">
        <input pInputText id="url" formControlName="url" class="input-name" />
        <label htmlFor="url">{{ 'products.form.moduls.url' | translate }}</label>
    </span>

    <p-editor formControlName="description" [style]="{ height: '300px', widht: '400px' }"></p-editor>
</form>

<app-buttons-modal [disabledButton]="form.invalid" (handleSaveButton)="executeAction()" [loading]="loading"></app-buttons-modal>