<div class="why-section">

  <div class="icon-image">
    <img src="assets/images/CELCAM.png" class="movil" alt="Logo Cel cam" />
    <img src="assets/images/icono.png" class="desktop" alt="Logo Cel cam" />
  </div>

<section class="section">

  <div>
    <h1 class="color-secondary">¿Por qué?</h1>
    <p>Porque cada vez son más las personas que saben captar la atención en redes
      sociales a través de sus fotos, cada vez es mayor el avance de la tecnología en
      los celulares.</p>
    <p>Y cada vez son menos las personas que toman fotos de baja calidad, con falta
      de técnica o poco atractivas, por no saber utilizar sus dispositivos.</p>
    <p><b>Si no te actualizas, quedarás atrás... Debes posicionarte en uno de los dos
      grupos, ¿En cuál quieres estar?</b></p>
  </div>

  <hr>

  <div>
    <h1>Si realmente te gusta viajar <span class="color-secondary">y capturar fotos que

      perduren por siempre...</span></h1>

    <ul class="list">
      <li><b>¿Por qué no hacerlo</b> con fotos que sean realmente inolvidables?</li>
      <li><b>¿Por qué tener que conformarte</b> con fotos normalitas?</li>
      <li><b>¿Por qué esperar</b> a perder la oportunidad de traer fotos asombrosas en tu
        próximo viaje si casi nunca se repite?</li>
      <li><b>¿Por qué no aprender</b> ahora mismo?</li>
      <li><b>Cuánto más rápido comiences, más rápido podrás lograr tomar fotos
        realmente atractivas.</b></li>
      <li>En una época tan rápida como la que vivimos actualmente, si no avanzas, te
        quedarás obsoleto.</li>
    </ul>
  </div>
</section>
</div>
