<div class="container">
    <form [formGroup]="form">
        <h2>Ingresa tu nueva contraseña</h2>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" formControlName="password" placeholder="Ingrese su contraseña" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmar contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar contraseña" required />
        </div>
        <div *ngIf="form.getError('passwordMismatch')" class="error-message">
            Passwords do not match.
          </div>
        <button type="submit" [disabled]="form.invalid" (click)="sendData()">Cambiar contraseña</button>
    </form>
</div>