<div class="container">
    <form [formGroup]="form">
        <h3>Ingresa tu nueva contraseña</h3>
        <div class="content-inputs">
            <div class="form-group">
                <label for="password">Nueva contraseña:</label>
                <input type="password" id="password" name="password" formControlName="password" placeholder="Nueva contraseña"
                    required />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar contraseña:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                    placeholder="Confirmar contraseña" required />
            </div>
            <div *ngIf="form.getError('passwordMismatch')" class="error-message">
                Las contraseñas no coinciden
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid" (click)="sendData()">{{'Cambiar contraseña'}}</button>
    </form>
</div>