
.content-politic {
    padding: 90px 60px 60px;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .content-politic {
        padding: 90px 30px 60px;
    }
}