<app-menu></app-menu>

<div class="content-politic">
        <h2 class="ql-align-center"><span style="background-color: transparent; color: rgb(33, 37, 41);">Aviso
                        legal</span></h2>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">En cumplimiento con el deber de
                        información recogido en el artículo 10 de la Ley 34/2002, de 11 de Julio, de Servicios de la
                        Sociedad de la Información y del Comercio Electrónico, le informamos que este sitio web
                        www.vilean.co&nbsp; (en adelante, el “Sitio Web”) es titularidad de:</span></p>
        <p><br></p>
        <p><strong style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S </strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Marca comercial: </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">VILEAN</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Domicilio social:Calle 37 b sur
                        #27d-44</span><strong style="background-color: transparent; color: rgb(33, 37, 41);"> Envigado
                        Antioquia,Colombia</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Email de contacto: </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">vileanrg@gmail.com</strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);">&nbsp;&nbsp;&nbsp;</span></p>
        <p class="ql-align-center"><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Objetivo del
                        Sitio web</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">El principal objetivo de este Sitio web
                        es facilitar información relacionada con </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">cursos, ebooks, mentorías,
                        productos de viaje, etc</strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);"> promocionados por</span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);"> VILEAN.</strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);"> Para ello se ofrece a los
                        usuarios una serie de contenidos de carácter meramente informativo y que se actualizan
                        periódicamente.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Con la finalidad de mantener el
                        contenido actualizado de este Sitio web el titular de la web se reserva el derecho a modificar
                        cualquier tipo de información que pudiera aparecer sobre sus </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">cursos, ebooks, mentorías,
                        productos de viaje etc. </strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);">En sus diferentes páginas webs,
                        sin que exista obligación de preavisar o poner en conocimiento de las personas usuarias dichas
                        modificaciones.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Aceptación de
                        las condiciones de uso</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">El acceso y navegación a este Sitio web
                        por parte de las personas usuarias supone la aceptación de la totalidad de las presentes
                        Condiciones de Uso.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Toda persona que acceda, navegue,
                        utilice cualquier elemento del Sitio web www.vilean.co tiene la consideración de usuario, y le
                        son de aplicación las condiciones de uso aquí establecidas. Y se compromete a hacer un buen uso
                        del Sitio y las páginas que lo integran</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Si las condiciones de uso detalladas en
                        este Aviso Legal no son de su conformidad rogamos no continúe navegando por este Sitio, ya que
                        cualquier uso que haga del mismo o de los servicios y contenidos en él implica la aceptación de
                        los términos legales aquí recogidos.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">La persona usuaria de este Sitio queda
                        informada, y acepta, que el acceso a la presente web no supone, en modo alguno, el inicio de una
                        relación comercial con GRUPO LEAN S.A.S</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Condiciones de
                        uso del Sitio web</strong></p>
        <p><strong style="background-color: transparent; color: rgb(33, 37, 41);">Acceso al Sitio</strong></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">El acceso a este Sitio web es de
                        carácter </span><strong style="background-color: transparent; color: rgb(33, 37, 41);">libre y
                        gratuito</strong><span style="background-color: transparent; color: rgb(33, 37, 41);">.</span>
        </p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Las condiciones de acceso y uso de este
                        Sitio se rigen por la legalidad vigente y por el principio de buena fe. Por tanto, todas las
                        personas que accedan a este Sitio web deben hacer observancia y cumplimiento riguroso de las
                        disposiciones aquí dispuestas, así como de cualquier otra disposición legal que fuera de
                        aplicación.</span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">Registro en el Sitio web</strong>
        </p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Para navegar y consultar la información
                        publicada en este Sitio web no es necesario realizar ningún tipo de registro.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Para acceder a contenido digital al que
                        dan acceso los cursos, ebooks o mentorías, sí será necesario obtener un usuario y una contraseña
                        que se asignarán una vez se haya adquirido el producto deseado.&nbsp; </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">Responsabilidades</strong></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. como prestador de
                        servicios de la sociedad de la información está sujeto a la responsabilidad civil, penal y
                        administrativa establecida con carácter general en el ordenamiento jurídico Colombiano. Y en
                        especial a lo dispuesto en la Ley 34/2002, de 11 de
                        Julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (en adelante
                        LSSICE).</span></p>
        <p><br></p>
        <p><span style="color: rgb(33, 37, 41);">Teniendo en cuenta el Régimen de
                        responsabilidad establecido en la Sección 2.ª de la mencionada GRUPO LEAN S.A.S. se compromete
                        a la retirada o, en su caso, bloqueo de aquellos contenidos que pudieran afectar o contravenir
                        la legislación nacional o internacional, derechos de terceros, la moral y el orden
                        público.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. no se responsabilizará
                        de los daños y perjuicios que se produzcan por fallos o malas configuraciones del software
                        instalado en el ordenador de la persona usuaria del Sitio web.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. tampoco se
                        responsabiliza por incidencias técnicas o fallos que se produzcan cuando la persona usuaria se
                        conecte al Sitio. Igualmente, no se garantiza la inexistencia de interrupciones o errores en el
                        acceso al Sitio web.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. podría facilitar el
                        acceso a información contenidas en otros Sitios web que considere que puedan ser del interés
                        para los usuarios. El objetivo de dichos enlaces es únicamente facilitarle recursos que le
                        puedan interesar a través de Internet.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">No obstante, dichas páginas no les
                        pertenecen, ni hace especial revisión de sus contenidos y, por ello, no se hace responsable de
                        los mismos. Ni del funcionamiento o de los posibles daños que puedan derivarse del acceso o uso
                        de las mismas.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. no se hace responsable
                        de conductas realizadas por los usuarios que vayan contra la ley, los derechos o intereses de
                        terceros.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Propiedad
                        Intelectual e Industrial</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">El diseño del Sitio y su código fuente,
                        logos, marcas y demás signos distintivos que aparecen en el mismo pertenecen a GRUPO LEAN S.A.S.
                        por tanto, queda prohibida su reproducción, distribución, comunicación pública, transformación o
                        cualquier otra actividad que se realice con los contenidos de este Sitio web, ni siquiera,
                        aunque se citen las fuentes, salvo que se cuente con el consentimiento previo, expreso y por
                        escrito de GRUPO LEAN S.A.S.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Todos los nombres comerciales, marcas o
                        signos distintos de cualquier clase contenidos en las páginas web de la empresa son propiedad de
                        sus dueños y están protegidos por ley. Estos propietarios pueden solicitar la modificación o
                        eliminación de la información en cualquier momento.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Así mismo, todo el material digital al
                        que se pueda acceder mediante este Sitio web pertenece a GRUPO LEAN S.A.S. y queda totalmente
                        prohibida su uso con fines comerciales propio sin previa autorización de GRUPO LEAN
                        S.A.S.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S</span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);"> no concede ninguna licencia o
                        autorización</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> de
                        uso de ninguna clase sobre sus derechos de propiedad intelectual e industrial o sobre cualquier
                        otra propiedad o derecho relacionado con el sitio web, y en ningún caso se entenderá que el
                        acceso y navegación de los usuarios implica una renuncia, transmisión, licencia o cesión total
                        ni parcial de dichos derechos por parte de GRUPO LEAN S.A.S. Cualquier uso de esos contenidos no
                        autorizado previamente por parte de GRUPO LEAN S.A.S. será considerado un incumplimiento grave
                        de los derechos de propiedad intelectual o industrial y dará lugar a las responsabilidades
                        legalmente establecidas. GRUPO LEAN S.A.S. se reserva el derecho de ejercitar frente al usuario
                        las acciones judiciales y extrajudiciales que correspondan.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Toda la información que se reciba en el
                        Sitio web, como comentarios, sugerencias o ideas, se considerará cedida a GRUPO LEAN S.A.S. de
                        manera gratuita. No debe enviarse información que NO pueda ser tratada de este modo.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Enlaces
                        (Links)</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">La presencia de enlaces (links) en este
                        Sitio web hacia otros sitios de Internet tiene finalidad meramente informativa y en ningún caso
                        suponen sugerencia, invitación o recomendación sobre los mismos. GRUPO LEAN S.A.S. no asumirá
                        responsabilidad por los contenidos de un enlace perteneciente a un sitio web ajeno, ni
                        garantizará la fiabilidad, exactitud, amplitud, veracidad, validez y disponibilidad
                        técnica.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">En el caso de que en otros sitios web se
                        establezcan enlaces a la página web de GRUPO LEAN S.A.S. no se entenderá que GRUPO LEAN S.A.S.
                        ha autorizado el enlace o el contenido del sitio web en el que se contiene el enlace, tampoco
                        podrá incluirse en la página del enlace contenidos inapropiados, difamatorios, ilegales,
                        obscenos o ilícitos, ni otros contenidos que sean contrarios a la legalidad vigente.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. se reserva la
                        posibilidad de contactar con el propietario del sitio web en el que se establezca el enlace si
                        considera que se incumple la normativa, así como de ejercitar las correspondientes acciones
                        judiciales y extrajudiciales.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Ley Aplicable
                        y Jurisdicción</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Las presentes condiciones generales de
                        uso se rigen por la legislación española en general.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Para cualquier litigio que pudiera
                        surgir relacionado con este Sitio web o la actividad que en él se desarrolla serán competentes
                        los Juzgados de Colombia, renunciando expresamente la persona usuaria a cualquier otro fuero que
                        pudiera corresponderle.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Extracto
                        política de privacidad</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Se informa a los usuarios de este Sitio
                        web que todos los datos que nos proporcione a través del formulario CONTACTO o durante el
                        proceso de compra habilitado en la web serán tratados bajo la responsabilidad de GRUPO LEAN
                        S.A.S.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Le invitamos a que visite nuestra
                </span><strong style="background-color: transparent; color: rgb(33, 37, 41);">política de
                        privacidad</strong><span style="background-color: transparent; color: rgb(33, 37, 41);"> para
                        que la conozca en profundidad.</span></p>
        <p><br></p>
        <p class="ql-align-center"><strong style="background-color: transparent; color: rgb(33, 37, 41);">Extracto
                        política de cookies</strong></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">GRUPO LEAN S.A.S. por su propia cuenta o
                        la de terceros utiliza cookies cuando la persona usuaria navega por este Sitio y sus páginas
                        webs.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">Para navegar por este Sitio web no es
                        necesario que usted permita la instalación de estas cookies: usted puede deshabilitarlas
                        directamente en su navegador.</span></p>
        <p><br></p>
        <p><span style="background-color: transparent; color: rgb(33, 37, 41);">En cada navegador la operativa es
                        diferente, para saber cómo hacerlo consulte nuestra </span><strong
                        style="background-color: transparent; color: rgb(33, 37, 41);">política de cookies</strong><span
                        style="background-color: transparent; color: rgb(33, 37, 41);">.</span></p>

</div>

<app-footer></app-footer>