@import "/src/styles/variables";

.title {
    color: $primary;
}

.content-invoice {
    padding: 35px 70px;
    margin-top: 60px;

    .content-forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}