<div class="secrets-section">
  <section class="section">
    <h1 class="color-primary">En este curso de fotografía para viajes con tu
      celular,<mark> te enseñaremos los secretos de la fotografía
        para cautivar y destacar en el medio digital.</mark></h1>
    <p>Vamos a enseñarte los secretos de las personas que publican las mejores fotos
      en redes sociales y que tanto nos inspiran.</p>
    <p>Te mostraremos lo que debes hacer para tomar fotos que en verdad inspiren y
      llamen la atención en redes sociales.</p>
    <p><b>Con lo que aprenderás en este curso, comenzarás a ponerte a la altura de los
      mejores en fotografía. </b>Podrás mejorar tu presencia y estatus en redes sociales e
      impactarás a miles de personas con tus fotos...</p>
  </section>
</div>
