<div>
    <div class="comment-box">
        <h2 class="color-primary">
            Sección de comentarios
        </h2>
        <p class="color-primary max-width">
            Si tienes alguna duda o quieres un tip extra, déjanos
            aquí tu comentario:
        </p>

        <textarea rows="5" placeholder="Escribe aquí..." [formControl]="comment" pInputTextarea [autoResize]="true"></textarea>

        <div class="button">
            <app-generic-button classButton="class_yellow" (emitClick)="sendComment()"
                nameButton="Publicar comentario"></app-generic-button>
        </div>
    </div>

    <div class="comments" *ngIf="comments.length > 0">

        <ng-container *ngFor="let item of comments">
            <div class="content-comment" *ngIf="item">
                <p-avatar [label]="item.user.name! | letterAvatar" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <div class="min-width">
                    <p class="bold color-black"> {{ item.user.name }} </p>
                    <p class="date">{{ item.createdAt | date }}</p>

                    <p class="color-black">
                        {{ item.comment }}
                    </p>
                    <hr>
                </div>
            </div>
        </ng-container>

    </div>
</div>