<div>
    <div class="comment-box">
        <h2 class="color-primary">
            Sección de comentarios
        </h2>
        <p class="color-primary max-width">
            Si tienes alguna duda o quieres un tip extra, déjanos
            aquí tu comentario:
        </p>

        <textarea rows="5" cols="50" placeholder="Escribe aquí..." [formControl]="comment" pInputTextarea [autoResize]="true"></textarea>

        <div class="button">
            <app-generic-button classButton="class_yellow" (emitClick)="sendComment()"
                nameButton="Publicar comentario"></app-generic-button>
        </div>
    </div>

    <div class="comments">

        <ng-container *ngFor="let item of comments">
            <div class="content-comment">
                <p-avatar [label]="'J'" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <div>
                    <p class="bold color-black"> Luis Ramirez Toro </p>
                    <p class="date">12/07/2023</p>

                    <p class="color-black">
                        Me encantó la clase, muchas gracias
                        por lo compartido
                    </p>
                    <hr>
                </div>
            </div>
            <div class="content-comment">
                <p-avatar [label]="'J'" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                <div>
                    <p class="bold color-black"> Luis Ramirez Toro </p>
                    <p class="date">12/07/2023</p>

                    <p class="color-black">
                        Me encantó la clase, muchas gracias
                        por lo compartido
                    </p>
                    <hr>
                </div>
            </div>
        </ng-container>

    </div>
</div>