@import "/src/styles/variables";
@import "/src/styles/sweetAlertLogout";

mat-icon {
    font-size: 21px;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.color-black {
    color: black;
}

.date {
    color: $gray;
    font-size: 14px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.content-comment {
    display: flex;
    gap: 20px;
}

.button {
    align-self: flex-end;
}

.min-width {
    width: 100%;
    min-width: 200px;
}

textarea {
    width: 100%;
}

.comments {
    width: 90%;
    margin: 20px auto 0px;
}

.content-comments {
    margin: 45px 0px 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.response-comment {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 0px 0.5em auto;
    align-items: flex-end;
    gap: 10px;
}

.answer {
    width: 90%;
    margin: 0 0px 0.5em auto;
    border-radius: 8px;
    background-color: $background-color;
    padding: 15px;
}

.size-smaller {
    font-size: x-small;
}

.response-button {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 425px) {
    .comments {
        width: 91%;
    }

    .comment-box {
        width: 92%;
    }
}