<div class="lists">
    <h2 class="color-primary">Cuando no te preparas
        para tu viaje:
    </h2>
    <div class="lists-content">
        <ul>
            <li>Te toca pasar la pena de pedirle
                ayuda a un desconocido que por
                lo general no toma la foto que
                esperas.
            </li>
            <li>Sueles discutir con tu pareja
                porque no te toma buenas fotos.
            </li>
            <li>
                Recurres a la típica selfie que no
                abarca todo el panorama.
            </li>
            <li>
                Tienes que tomar 100 fotos para a
                duras penas poder elegir una.
            </li>
        </ul>
        <p>
            Finalmente, pierdes momentos
            únicos e irrepetibles para traer fotos
            admirables de lo vivido en tu viaje.
        </p>
    </div>
</div>