<div class="our-purpose color-primary text-center">

    <img width="200px" src="../../../../../assets/images/proposito.png" alt="Nuestro propósito">

    <p style="max-width: 275px;">
        <span class="color-primary font-bold">Nuestro propósito</span> es inspirarte
        a SOÑAR, VIAJAR Y CRECER.
    </p>

    <p class="mx-wth">
        Por eso, este curso fue producido con mucho esfuerzo y amor durante casi
        1 año a través de nuestros viajes en más de seis países para que no solo
        aprendas a tomar fotos atractivas sino que también te inspires a viajar...
    </p>

    <p class="mx-wth">
        <span class="color-primary font-bold">Los sueños sí se cumplen</span> y no hay nada mejor que TUS FOTOS para
        <span class="color-primary font-bold">revivir y recordar esos momentos inolvidables.</span>
    </p>

    <p class="mx-wth">
        ¡Después de completar este curso podrás traer grandes recuerdos de tus
        viajes e inspirar a otros también!
    </p>
</div>