<div class="content">
    <p>O si quieres comprar los productos por individual, también puedes hacerlo:</p>
    <div class="content-cards">
        <div *ngFor="let item of products" class="card">
            <img [ngSrc]="item.images[0]" alt="{{item.name}}" [width]="'400'" [height]="'400'" priority>
            <div class="card-info">
                <p class="product-name" [matTooltip]="item.title" (click)="changeRoute(item)">{{item.title}}</p>
                <p>{{item.price | currency }}</p>
                <app-generic-button (emitClick)="validateReference(item)" class="component-button" [sizeButton]="'small'" [nameButton]="'Añadir al carrito'"></app-generic-button>
            </div>
        </div>
    </div>
</div>