<section class="section">
  <div class="section-steps">
    <div class="step">
      <span class="step-icons step-icon-book"></span>
      <p> <b>Paso 1.</b> Adquiere el curso.</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-heart"></span>
      <p> <b>Paso 2.</b> Mejora tus habilidades.</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-hand"></span>
      <p> <b>Paso 3.</b> Toma fotos como
        de postal.</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-hand"></span>
      <p> <b>Paso 4.</b> Conserva un gran
        recuerdo de tu viaje.</p>
    </div>
  </div>

  <hr>

  <h2>¡Hola amigo viajero!</h2>
</section>
