<ng-container *ngTemplateOutlet="showPolitcs ? politcs : form"></ng-container>


<ng-template #form>
    <div class="container">
        <div class="header">
            <span class="material-icons" [mat-dialog-close]="true"> close </span>
        </div>

        <div class="texto text-center color-primary">
            <p>Regístrate para ver la clase gratuita</p>
            <h3>5 ERRORES COMUNES AL TOMAR FOTOS EN TUS VIAJES</h3>
        </div>
        <div class="content">
            <form [formGroup]="formSuscribe">
                <div class="form-col">
                    <input class="form-input" formControlName="name" type="text" placeholder="Nombre"
                        [ngClass]="{ 'input-error': validateInput('name') }" />
                    <span class="error" *ngIf="
                  formSuscribe.controls['name'].invalid &&
                  formSuscribe.controls['name'].touched
                ">
                        Debe llenar el nombre
                    </span>
                </div>

                <div class="form-col">
                    <input class="form-input" email="true" formControlName="email" type="email" placeholder="Correo"
                        [ngClass]="{ 'input-error': validateInput('email') }" />
                    <span class="error" *ngIf="
                  formSuscribe.controls['email'].hasError('required') &&
                  formSuscribe.controls['email'].touched
                ">
                        Debe llenar el correo
                    </span>

                    <span class="error" *ngIf="formSuscribe.controls['email'].hasError('email')">
                        El correo no es valido
                    </span>
                </div>

                <div class="form-col check">
                    <input type="checkbox" class="check-autoriza" formControlName="dataTreatment" />
                    <a (click)="showPolitcs = true">
                        <p>Autorizo el tratamiento de datos personales</p>
                    </a>
                </div>
            </form>

            <div class="content-spinner">
                <mat-spinner *ngIf="load" [color]="'primary'" diameter="25"></mat-spinner>
            </div>

            <div class="button" *ngIf="!load">
                <button class="btn" (click)="sendEmail(); sendEvent();"
                    [disabled]="formSuscribe.invalid || !formSuscribe.get('dataTreatment')?.value">
                    REGISTRARME
                </button>
            </div>

        </div>
    </div>
</ng-template>


<ng-template #politcs>
    <div class="container">
        <div class="header">
            <span class="material-icons" (click)="showPolitcs = false"> close </span>
        </div>

        <div class="texto text-center color-primary">
            <p>
                Tratamiento de datos personales
            </p>
        </div>

        <div class="content-politic">
            <p class="ql-align-justify"><span style="background-color: transparent; color: rgb(0, 0, 0);">Dando
                    cumplimiento a
                    lo dispuesto en la Ley 1581 de 2012, "Por el cual se dictan disposiciones generales para la
                    protección de
                    datos personales" y de conformidad con lo señalado en el Decreto 1377 de 2013, con la firma de este
                    documento manifiesto que he sido informado por GRUPO LEAN S.A.S. de lo siguiente:</span></p>
            <p class="ql-align-justify"><br></p>
            <ol>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">La sociedad GRUPO LEAN S.A.S. actuará
                        como responsable del tratamiento de datos personales de los cuales soy titular y que, conjunta o
                        separadamente podrá recolectar, usar y tratar mis datos personales conforme la Política de
                        Tratamiento
                        de Datos Personales en la página web de www.vilean.co&nbsp;</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">La recolección de los datos
                        personales, tiene como finalidad hacer una prestación de servicios óptima para procesar pedidos,
                        entregar productos o brindar servicios al cliente. Además de gestionar la relación con los
                        clientes, lo
                        que incluye el análisis de preferencias, historial de compras o comportamiento del cliente para
                        mejorar
                        la calidad de los productos o servicios ofrecidos. Y finalmente, tiene fines de marketing y
                        publicidad,
                        para enviar información sobre nuevos productos, promociones o eventos relevantes para los
                        intereses del
                        titular de los datos.</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">Es de carácter facultativo o
                        voluntario responder preguntas que versen sobre Datos Sensibles o sobre menores de edad.</span>
                </li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">Mis derechos como titular de los datos
                        son los previstos en la Constitución y la ley, especialmente el derecho a conocer, actualizar,
                        rectificar y suprimir mi información personal, así como el derecho a revocar el consentimiento
                        otorgado
                        para el tratamiento de datos personales.&nbsp;</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">Los derechos pueden ser ejercidos a
                        través de los canales dispuestos por GRUPO LEAN S.A.S.&nbsp; y observando la Política de
                        Tratamiento de
                        Datos Personales de GRUPO LEAN S.A.S., mediante el correo electrónico </span><a
                        href="mailto:vileanrg@gmail.com" rel="noopener noreferrer" target="_blank"
                        style="background-color: transparent; color: rgb(0, 0, 0);">vileanrg@gmail.com</a><span
                        style="color: rgb(0, 0, 0);"> podré radicar cualquier tipo de requerimiento relacionado con el
                        tratamiento de mis datos personales.&nbsp;</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">La sociedad GRUPO LEAN S.A.S. y sus
                        titulares garantizarán la confidencialidad, libertad, seguridad, veracidad, transparencia,
                        acceso y
                        circulación restringida de mis datos y se reservará el derecho de modificar su Política de
                        Tratamiento
                        de Datos Personales en cualquier momento.&nbsp;</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">Teniendo en cuenta lo anterior,
                        autorizo de manera voluntaria, previa, explícita, informada e inequívoca a GRUPO LEAN
                        S.A.S.&nbsp; para
                        tratar mis datos personales de acuerdo con su Política de Tratamiento de Datos Personales para
                        los fines
                        relacionados con su objeto y en especial para fines legales, contractuales, misionales descritos
                        en la
                        política de tratamiento de datos personales de la entidad.</span></li>
                <br>
                <li class="ql-align-justify"><span style="color: rgb(0, 0, 0);">La información obtenida para el
                        Tratamiento de mis datos personales la he suministrado de forma voluntaria y es verídica.</span>
                </li>
            </ol>
        </div>
    </div>
</ng-template>