<app-title-modal [titleModal]="'Crear Módulo'"></app-title-modal>

<form [formGroup]="form">
    <span class="p-float-label">
        <input pInputText id="username" formControlName="name" class="input-name" />
        <label htmlFor="username">{{ 'products.form.moduls.name' | translate }}</label>
    </span>

    <p-editor formControlName="description" [style]="{ height: '320px', widht: '400px' }"></p-editor>
</form>

<app-buttons-modal [disabledButton]="form.invalid" (handleSaveButton)="executeAction()"
    [loading]="loading"></app-buttons-modal>