@import "/src/styles/variables";

.container-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 380px;
  align-items: flex-start;
  margin: 0 auto;
  gap: 15px;
}

ul {
  padding-left: 15px;
  list-style: none;
  margin-bottom: 0px;

  li {
    margin-bottom: 12px;
  }
}

li::before {
  content: "\2022";
  color: $secondary;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.padding {
  padding: 20px 0px 15px 0px;
}

.max-wth {
  max-width: 290px;
}

@media screen and (max-width: 420px) {
  .container-info {
    width: 90%;
  }
}