<section class="container-info">
    <h3 class="color-white text-center">¿Sabías que un viaje se vive
      tres veces?</h3>

    <ul>
      <li class="color-white">Cuando lo soñamos</li>
      <li class="color-white">Cuando lo vivimos</li>
      <li class="color-white">Cuando lo recordamos</li>
    </ul>

    <p class="color-white">
      Para recordar, sonreír y revivir con alegría
      ese viaje que harás muy pronto, <span class="color-secondary">tienes una
      herramienta maravillosa: Tus fotos.</span>
    </p>

    <p class="color-white font-bold">¡No las dejes al azar!</p>

    <p class="color-white">
      Para traer fotos admirables que te durarán
      para toda tu vida son indispensables dos
      puntos:
    </p>

    <p class="color-white">
      <span class="color-secondary font-bold">1.</span> Prepararte de la forma correcta con las
      herramientas necesarias.
    </p>

    <p class="color-white">
      <span class="color-secondary font-bold">2.</span> Mejorar tus habilidades fotográficas.
    </p>

    <p class="color-white">
      Si has leído hasta aquí, mira este corto video:
    </p>
</section>
