<section class="container-info">
    <h3 class="color-white text-center">¿Te gustaría mejorar tus habilidades fotográficas solo con tu celular?</h3>

    <ul>
      <li class="color-white">No más fotos mal encuadradas.</li>
      <li class="color-white">No más fotos de baja calidad.</li>
      <li class="color-white">No más fotos con sombras o luces indeseadas.</li>
      <li class="color-white">No más fotos poco atractivas. </li>
    </ul>

    <p class="color-secondary text-center max-wth">
      ¡No más momentos únicos
      perdidos por no saber tomar fotos admirables!
    </p>

    <p class="padding color-white text-center max-wth">Aprende a hacerlo tú mismo y
      captura los mejores recuerdos de tus viajes....</p>
</section>
