<div class="its-for-you">
  <section class="section">
    <h1 class="color-white text-center"><b>¿Cómo saber si este curso es para tí?</b></h1>
    <p class="color-secondary text-center font-small">Si marcas alguna de las siguientes opciones:</p>


    <ul class="square-list">
      <li *ngFor="let check of checks; let i = index"
          (click)="switch(i)"
          [ngClass]="{'seleccionado': elementoSeleccionados.includes(i, 0)}">
        {{ check }}
      </li>
    </ul>
  </section>
</div>
