<ng-container *ngIf="course">
    <mat-sidenav-container>
        <mat-sidenav opened mode="side" class="sidebar-container">
            <div class="title">
                <div class="name-course" [routerLink]="'/estudiante/course/' + idCourse">
                    <mat-icon>school</mat-icon>
                    <h4>
                        {{ course.name }}
                    </h4>
                </div>
                <h4 class="content">Contenido del curso</h4>
            </div>
            <div class="content-modules">
                <ul class="list" *ngIf="course.modules.length > 0">

                    <li *ngFor="let module of course.modules; let indexModule = index" class="list-item">
                        <!-- MODULOS -->
                        <div class="item item-header" (click)="toggleList(indexModule)">
                            <div class="align-items-center">
                                <button mat-icon-button>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{isExpanded[indexModule] ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                <span class="item-title font-bold">{{ module.name }}</span>
                            </div>
                            <span class="align-items-center actions-content">
                                <!-- <mat-progress-spinner class="example-margin" [diameter]="18" [mode]="'determinate'"
                                    [value]="50">
                                </mat-progress-spinner> -->
                            </span>
                        </div>
                        <!-- CLASES -->
                        <ul class="sub-list" [hidden]="!isExpanded[indexModule]">
                            <li *ngFor="let class of module?.classes; let indexClass = index;"
                            [ngClass]="{'sub-item': true,'active-class': class._id === activeClass._id}">
                                <div class="item item-sub-header">
                                    <span class="item-title" (click)="changeRoute(module._id, class._id)">{{ class.name
                                        }}</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</ng-container>