<mat-toolbar color="primary">
    <span class="icon-logo" [routerLink]="['/kit-viajero']"></span>
    <div class="content-info">
        <h2 *ngIf="user"> {{ user.name }} </h2>
        <div>
            <mat-icon matBadgeSize="small" matBadgeColor="warn" (click)="toggleMenu()">menu</mat-icon>
            <nav class="menu" [class.open]="isMenuOpen">
                <ul>
                    <li>
                        <a class="item" routerLink="courses" routerLinkActive="router-active">
                            <span>Cursos</span>
                        </a>
                    </li>
                    <li>
                        <a class="item" [routerLink]="['/kit-viajero']" [routerLinkActive]="'router-active'">
                            <span>Kit viajero</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</mat-toolbar>