<mat-toolbar color="primary">
    <span class="icon-logo" [routerLink]="['/home']"></span>
    <div class="content-info">
        <h2 *ngIf="user"> {{ user.name }} </h2>
        <div>
            <mat-icon matBadgeSize="small" matBadgeColor="warn" (click)="toggleMenu()">menu</mat-icon>
        </div>
    </div>
</mat-toolbar>

<p-sidebar [(visible)]="isMenuOpen" position="right" class="mobile-menu-s">
    <ng-template pTemplate="header"> Volver al sitio web: </ng-template>
    <ng-template pTemplate="content">
      <div class="second-menu">
        <h2 routerLink="/cursos" routerLinkActive="router-active">
          < Cursos</h2>
            <h2 [routerLink]="['/kit-viajero']" [routerLinkActive]="'router-active'">
              < Kit viajero</h2>
              <h2 [routerLink]="['/quienes-somos']" [routerLinkActive]="'router-active'">
                < ¿Quiénes somos?</h2>
                    <h2 *ngIf="user" [routerLink]="user.role === 'Cliente' ? '/estudiante/my-courses': '/admin/usuarios'" routerLinkActive="router-active">
                      < Mi cuenta</h2>
      </div>
    </ng-template>
</p-sidebar>