<mat-toolbar color="primary">
    <span class="icon-logo" [routerLink]="['/home']"></span>
    <div class="content-info">
        <h2 *ngIf="user"> {{ user.name }} </h2>
        <div>
            <mat-icon matBadgeSize="small" matBadgeColor="warn" (click)="toggleMenu()">menu</mat-icon>
        </div>
    </div>
</mat-toolbar>

<p-sidebar [(visible)]="isMenuOpen" position="right" class="mobile-menu-s">
    <ng-template pTemplate="header"> Volver al sitio web: </ng-template>
    <ng-template pTemplate="content">
      <div class="second-menu">
        <p routerLink="/home" class="pointer bold" routerLinkActive="router-active">
          < Inicio</p>
        <p routerLink="/cursos" class="pointer bold" routerLinkActive="router-active">
          < Cursos</p>
            <p [routerLink]="['/kit-viajero']" class="pointer bold" [routerLinkActive]="'router-active'">
              < Kit viajero</p>
              <p [routerLink]="['/quienes-somos']" class="pointer bold" [routerLinkActive]="'router-active'">
                < ¿Quiénes somos?</p>
                    <p *ngIf="user" class="pointer bold" [routerLink]="user.role === 'Cliente' ? '/estudiante/my-courses': '/admin/usuarios'" routerLinkActive="router-active">
                      < Mi cuenta</p>
      </div>
    </ng-template>
</p-sidebar>