<div class="background-primary main-content">
    <div>
        <h3 class="color-white text-center">
            ¡No sigas cometiendo
            los mismos errores!
        </h3>

        <ul>
            <li class="color-white">No más fotos mal encuadradas.</li>
            <li class="color-white">No más fotos de baja calidad.</li>
            <li class="color-white">No más fotos con sombras o luces
                indeseadas.</li>
            <li class="color-white">No más fotos poco atractivas.</li>
        </ul>

        <p class="color-white">
            ¡No más momentos únicos por no
            saber tomar buenas fotos!
        </p>

        <p class="color-secondary">
            Aprende a capturar los mejores
            recuerdos del viaje y compártelos
            en tus redes sociales...
        </p>
    </div>
</div>