.content-transaction {
    width: 90%;
    margin: 35px auto;
}

.bold {
    font-weight: 700;
}

.titles-transaction {
    padding: 10px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 20px 0px;
}

.data-transaction {
    display: flex; 
    width: 100%;

    .content-data {
        width: 50%;
    }
}

.columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.center {
    place-self: center;
    align-self: flex-start;
}

@media screen and (max-width:500px) {

    .columns-2 {
        grid-template-columns: 1fr;
    }

    .data-transaction {
        flex-direction: column;

        .content-data {
            width: 100%;
        }
    }

    .content-transaction {
        height: 65vh;
        overflow: auto;
    }
}