@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import '/src/styles/variables';

.carousel {
    width: 100%;
    padding: 30px 0px;
}


.swiper {
    width: 80%;
    max-width: 100%;
    height: auto;
}

.h3 {
    color: $primary;
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 582px) {
    .carousel {
        padding: 40px 30px;
    }

    .img {
        max-height: 650px;
    }

    .swiper {
        width: 90%;
    }
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: auto;
}

.responsive-img {
    width: 100%;
    object-fit: cover;
    position: relative !important;
    max-width: 100%;
}