<div class="content">
    <hr>

    <p class="color-secondary color-primary">APROVECHA LA PROMO DE LANZAMIENTO</p>

    <h2 class="color-secondary color-primary max-width">
        20% DESCUENTO POR LANZAMIENTO
    </h2>

    <div class="color-white color-primary">
        <h2 class="no-bold">
            <span>$237.000 COP</span>
        </h2>
    
        <h2>
            $189.600 COP
        </h2>
    </div>

    <app-generic-button nameButton="COMPRAR CURSO" classButton="class_yellow"></app-generic-button>
</div>