<div [class]="'content ' + typeClass">
    <hr>

    <p class="first-color">APROVECHA LA PROMO DE LANZAMIENTO</p>

    <h2 class="first-color max-width">
        20% DESCUENTO POR LANZAMIENTO
    </h2>

    <div class="first-color second-color">
        <h2 class="no-bold">
            <span>$237.000 COP</span>
        </h2>
    
        <h2>
            $189.600 COP
        </h2>
    </div>

    <app-generic-button (emitClick)="handleClick()" nameButton="COMPRAR CURSO" [classButton]="classButton"></app-generic-button>
</div>