@import "/src/styles/variables";

.letter_yellow_white {
    .first-color {
        color: $secondary;
    }

    .second-color {
        color: $white;
    }

    mark {
        background: none;
        color: white;
    }
}

.letter_blue {
    .first-color, .second-color {
        color: $primary;
    }

    mark {
        background-color: white;
        color: $primary;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    p {
        max-width: 212px;
    }
}

.bold-600 {
    font-weight: 600;
}

hr {
    width: 80%;
}

.max-width {
    max-width: 250px;
}