<div [class]="'content ' + typeClass">
    <hr *ngIf="showHr">

    <p class="second-color bold-600">El curso está valorado en
        <mark>más de $600.000 COP</mark></p>

    <h2 class="first-color max-width">
        PERO PUEDES LLEVARLO POR SOLO
    </h2>

    <div class="first-color second-color">
        <h2 class="bold-600">
            <span>$237.000 COP</span>
        </h2>
    </div>

    <app-generic-button (emitClick)="handleClick()" [showCouponTextCourse]="false"
     nameButton="COMPRAR CURSO" [classButton]="classButton"></app-generic-button>
</div>