<div class="amazing-fotos">

  <section class="section">
    <h1><b>
      <span class="color-secondary">¿Crees que es muy difícil para tí</span>
      <br>
      tomar fotos asombrosas?</b></h1>

    <p>Cabe resaltar que muchas de las personas que suben este tipo de fotos tan
      espectaculares <b> no son fotógrafos expertos.</b></p>
    <p>Hagamos una corta pausa.</p>
    <p>Tienes que saber algo muy importante, y es que en realidad para lograr estos
      resultados:</p>
    <ul>
      <li>No tienes que ser un experto manejando el celular.</li>
      <li>No necesitas experiencia en fotografía.</li>
    </ul>

    <p><b>Y además, lo puedes lograr:</b></p>
    <ul>
      <li class="color-secondary">
        Sin invertir cientos de dólares.
      </li>
      <li class="color-secondary">
        Sin gastar horas y horas en estudio.
      </li>
      <li class="color-secondary">
        Sin necesidad de adquirir un celular costoso.
      </li>
    </ul>
  </section>
</div>
