@import "/src/styles/variables";

.amazing-fotos {
  padding: 40px 30px 40px 30px;
  display: flex;
  justify-content: center;
  background-color: $primary;
  text-align: left;
  color: $white;
}

.section {
  max-width: 777px;
}


p {
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
}

br {
  display: none;
}

@media screen and (min-width: 501px) {
  h1 {
    text-align: center;
  }
  br {
    display: block;
  }
}
