@import "/src/styles/variables";

.slick-slider {
    width: 34%;
    margin: 62px auto 0px;
    background: rgb(14, 13, 13);
}

::ng-deep.slick-prev,
::ng-deep .slick-next {
    height: 45px;
    width: 40px;
    z-index: 100;
}

::ng-deep.slick-prev::before,
::ng-deep .slick-next::before {
    color: $primary;
    font-size: 49px;
    opacity: 1;
}

::ng-deep .slick-prev {
    left: -53px;
}

::ng-deep .slick-next {
    right: -45px;
}

@media only screen and (max-width: 457px) {
    .slick-slider {
        width: 100%;
    }

    ::ng-deep .slick-prev,
    ::ng-deep .slick-next {
        display: none !important;
    }
}