<app-menu></app-menu>

<div class="container-p-messages">
  <p-messages severity="warn" [(value)]="message"></p-messages>
</div>
<section *ngIf="this.viewProduct" class="background-gray" style="padding-bottom: 25px;">
  <div class="container">
    <p-carousel [value]="viewProduct.imageProperties | flatImageProperties" styleClass="custom-carousel"
      [circular]="true" [numVisible]="2" [numScroll]="1" [showIndicators]="false"
      [responsiveOptions]="responsiveOptionsViewProduct">
      <ng-template let-product pTemplate="item">
        <div  style="width: 100%; padding-right: 4px;">
          <img oncontextmenu='return false' onkeydown='return false' [src]="product" class="product-image main-carousel"
            fill width="100%" height="100%" />
        </div>
      </ng-template>
    </p-carousel>

    <div class="container-first-section-2">
      <h2 class="bold color-primary text-start margin-center">
        <span>{{viewProduct.name}}</span>
      </h2>
      <p>
        <span>US{{ viewProduct.price | currency }}</span>
      </p>
      <p [innerHTML]="viewProduct.description">
      </p>
      <app-generic-button [sizeButton]="'large'" [classButton]="'class_yellow'" [nameButton]="'Añadir al carrito'"
        (emitClick)="addProduct(viewProduct)"></app-generic-button>
    </div>
  </div>
  <hr>
</section>


<section *ngIf="this.visibleProducts" class="background-gray related-products">
  <h2 class="color-primary text-center">Productos relacionados</h2>
  <p-carousel [value]="visibleProducts" styleClass="custom-carousel second-coursel" [circular]="true" [numVisible]="1" [numScroll]="1"
    [responsiveOptions]="responsiveOptions" [showIndicators]="false" class="second-coursel">
    <ng-template let-product pTemplate="item">
      <ng-container *ngIf="product.id !== id">
        <div class="content-image-coursel">
          <img oncontextmenu='return false' onkeydown='return false' [src]="product.imageProperties[0].url"
            [alt]="product.name" class="product-image" width="100%" height="100%" />
          <div class="container-info-carrousel">
            <p class="color-primary text-center">
              {{ product.name | uppercase }}
            </p>
            <p class="color-primary text-center">
              US{{ product.price | currency }}
            </p>
          </div>
          <div class="viewProduct">
            <app-generic-button (emitClick)="changeRoute(product)" [sizeButton]="'medium'"
              [classButton]="'class_gray_color_blue'" [nameButton]="'Ver producto'"></app-generic-button>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </p-carousel>
</section>

<app-footer></app-footer>