<app-menu></app-menu>

<section *ngIf="this.viewProduct">
  <div class="container-p-messages">
    <p-messages severity="warn" [(value)]="message"></p-messages>
  </div>
  <div class="container">
    <div class="container-first-section-1">
      <div class="container-view-product-carrousel">
        <p-carousel [value]="viewProduct.imageProperties | flatImageProperties" styleClass="custom-carousel"
          [circular]="true" [autoplayInterval]="3000" [numVisible]="2" [numScroll]="1"
          [responsiveOptions]="responsiveOptionsViewProduct">
          <ng-template pTemplate="header">
          </ng-template>
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <img oncontextmenu='return false' onkeydown='return false' [src]="product"
                  class="product-image main-carousel" />
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </div>

    <div class="container-first-section-2">
      <p class="title">
        <span>{{
          viewProduct.name
          }}</span>
      </p>
      <hr />
      <p>
        <span>{{ viewProduct.price | currency }}</span>
      </p>
      <hr />
      <p>
        <span [innerHTML]="viewProduct.description">
        </span>
      </p>
      <hr />
      <app-generic-button [sizeButton]="'large'" [classButton]="'class_yellow'" [nameButton]="'Añadir al carrito'"
        (emitClick)="validateReference(viewProduct)"></app-generic-button>
    </div>
  </div>
  <div class="separador"></div>
</section>
<section *ngIf="this.visibleProducts">
  <p-carousel [value]="visibleProducts" styleClass="custom-carousel" [circular]="true" [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <p class="container-title-carrousel">
        <span class="title">Productos relacionados</span>
      </p>
    </ng-template>
    <ng-template let-product pTemplate="item">
      <div class="product-item" *ngIf="product.id !== id">
        <div class="product-item-content">
          <img oncontextmenu='return false' onkeydown='return false' [src]="product.imageProperties[0].url"
            [alt]="product.title" class="product-image" />
          <div class="container-info-carrousel">
            <p>
              <span class="title">{{
                product.title | uppercase
                }}</span>
            </p>
            <p>
              <span>{{
                product.price | currency
                }}</span>
            </p>
          </div>
          <div class="viewProduct">
            <app-generic-button (emitClick)="changeRoute(product)" [sizeButton]="'large'"
              [classButton]="'class_white_color_blue'" [nameButton]="'Ver producto'"></app-generic-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>

<app-footer></app-footer>