@import "/src/styles/variables";
@import "/src/styles/primeNgMessage";

.title {
  color: $primary;
  font-weight: 700;
  font-size: 32px;
}

.container {
  display: flex;
  color: $primary;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.container-first-section-1 {
  width: 60%;
  margin-top: 60px;

  @media screen and (max-width: 600px) {
    width: 100%;
    margin-top: 60px;
  }
}

.container-first-section-2 {
  display: flex;
  width: 55%;
  flex-direction: column;
  margin: 150px 0 10px 30px;
  font-size: 20px;

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 20px;
    margin: 0;
    flex-direction: column;
    font-size: 20px;
  }
}

.container-second-section {
  width:100%;
}

.container-title-carrousel {
  display: flex;
  justify-content: center;
  text-align: center;

  .title {
    margin-bottom: 30px;
    font-family:'Poppins';
  }
}

.separador {
  height: 2px;
  background-color: $primary;
  margin: 30px 60px;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;

    .product-image {
      width: 300px;
      height: 300px;

      @media screen and (max-width: 600px) {
        width: 200px;
        height: 200px;
      }

      @media screen and (max-width: 300px) {
        width: 100px;
        height: 100px;
      }
    }

    .product-image.main-carousel {
      height: 400px;

      @media screen and (max-width: 600px) {
        height: 300px;
      }
    }
  }

  .container-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: $white;
    height: 700px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .container-info-carrousel {
    margin: 10px auto;
    font-size: 20px;
    color: $primary;

    .title {
      font-size: 20px;
    }

    @media screen and (max-width: 600px) {
      margin: 5px auto;
    }
  }

  .viewProduct {
    padding: 0 2rem;

    @media screen and (max-width: 300px) {
      padding: 0;
    }
  }
}

.container-p-messages {
  margin-top: 40px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: $primary;
}

.p-description {
  padding-right: 20px;
}