<div class="learnings-section">
  <section class="section">
    <h1 class="color-primary">Después de aplicar lo aprendido en el curso,

      <mark>¿qué podrás lograr?</mark>
    </h1>

    <p>Seguramente, mucho más de lo que esperas. Para comprenderlo mejor, lee esto:</p>
    <div class="grid-two-columns color-primary">
      <ul class="check-list">
        <li>Inspirar y transmitir belleza a través
          de tus fotos.
        </li>
        <li>Destacarte en redes sociales.</li>
        <li>Mejorar tu presencia y estatus en el
          medio digital.
        </li>
        <li>Aprovechar cada viaje para
          capturar recuerdos inolvidables.
        </li>
      </ul>
      <ul class="check-list">
        <li>Perfeccionar tu técnica en fotografía
          y entender qué es lo que cautiva la
          atención en una imagen.
        </li>
        <li>Aumentar la confianza y seguridad
          en tí mismo.
        </li>
        <li>Mantenerte siempre actualizado con
          lo último en tendencias.
        </li>
      </ul>
    </div>
    <p>Y eso no es todo.</p>
    <p>El curso además de estar en formato de videos, contiene textos con información
      complementaria y una sección de comentarios en cada clase para resolver
      todas tus dudas...</p>
    <p>Ese es solo uno de los tres beneficios que te damos:</p>
  </section>
</div>
