<div class="fast-learning2">
  <section class="section">
    <p>Prometemos que no te vas a aburrir con el contenido, este no será un curso más
      que dejarás a medias.</p>
    <p>Hay evidencia de que más del 70% de las personas no terminan los cursos
      porque sienten que requiere mucho tiempo, se aburren y dejan el proceso a
      medias.</p>
    <p>Pero este no es el caso, ya que estudios comprueban que la clave está en que
      haya una <b>metodología de aprendizaje rápido.</b></p>

    <p><b>Y eso es precisamente lo que experimentarás en este curso.</b></p>
    <div class="grid-two-columns">
      <div><img src="../../../../../assets/images/Mockup.png" alt="mockup"></div>
      <div>
        <p>A través de lecciones cortas,
          específicas, y muy efectivas,
          aprenderás todo lo que necesitas
          saber en muy poco tiempo.</p>
        <p><b>Tú solo deberás disfrutar, poner en
          práctica lo aprendido, repasar,
          tomar fotos y comenzar a
          destacar en redes sociales.</b></p>
      </div>
    </div>
  </section>
</div>
