<div class="access-section">
  <section class="section">
    <hr>
    <h1 class="color-white">Y por si te lo estás preguntando...</h1>
    <p>El acceso es inmediato.</p>
    <p><b>Una vez realizas el pago, recibes un correo con tu acceso e inicio de sesión</b> para
      comenzar a aprender lo último en fotografía y capturar fotos asombrosas que

      destaquen e inspiren en redes sociales.</p>
    <div><img src="https://vilean.s3.us-east-2.amazonaws.com/PAG+CURSO/estrellas.png" alt="stars"></div>
    <hr>
  </section>
</div>
