<div class="content-form">
    <h3>Dirección de envío</h3>
    <form [formGroup]="form">
        <span class="flex flex-column gap-2">
            <label htmlFor="country">País / Región</label>
            <input pInputText id="country" formControlName="country" placeholder="Ingrese su país" class="p-inputtext-sm input-name" />
        </span>

        <span class="display flex flex-column gap-2">
            <label htmlFor="region">Departamento</label>
            <p-dropdown formControlName="region" [options]="cities" placeholder="Departamento" [emptyFilterMessage]="'Dato no encontrado'"
                optionLabel="_id" [optionValue]="'_id'" (onChange)="setMunicipalities($event)" [filter]="true" [resetFilterOnHide]="true"
                class="p-inputtext-sm input-name" [ngClass]="{'invalid': form.get('region')?.touched && !form.get('region')?.valid }"></p-dropdown>
        </span>

        <span class="display flex flex-column gap-2">
            <label htmlFor="city">Ciudad</label>
            <p-dropdown  [options]="municipalities" placeholder="Ciudad" [emptyMessage]="'Seleccione un departamento'" [emptyFilterMessage]="'Dato no encontrado'"
                optionLabel="nombreMunicipio" (onChange)="setCityValue($event)" class="p-inputtext-sm input-name" [filter]="true" [resetFilterOnHide]="true"
                [ngClass]="{'invalid': form.get('city')?.touched && !form.get('city')?.valid }"></p-dropdown>
        </span>

        <span class="flex flex-column gap-2">
            <label htmlFor="addressLine1">Dirección</label>
            <input pInputText id="addressLine1" formControlName="addressLine1" placeholder="Ingrese la dirección" 
            class="p-inputtext-sm input-name" [ngClass]="{'invalid': form.get('addressLine1')?.touched && !form.get('addressLine1')?.valid }"/>
        </span>

        <span class="flex flex-column gap-2">
            <input pInputText id="addressLine2" formControlName="addressLine2" placeholder="Apto/Oficina/Otro" class="p-inputtext-sm input-name" 
            [ngClass]="{'invalid': form.get('addressLine2')?.touched && !form.get('addressLine2')?.valid }"/>
        </span>

    </form>
</div>
