@import "/src/styles/variables";

::ng-deep.invalid, .invalid ::ng-deep .p-dropdown {
    border-color: #e24c4c;
}

.content-form {
    padding: 30px;
    border: 1px solid $border;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .input-name, ::ng-deep.p-inputnumber, ::ng-deep .p-dropdown {
        width: 100%;
    }

    .display {
        display: flex;
        flex-direction: column;
    }
}