<section class="content-footer">
    <div class="footer">
        <div class="margin content-logo">
            <div class="logo-footer"></div>
        </div>

        <div>
            <h2 class="color-secondary"> CONTACTO </h2>
            <div class="content-info">
                <div class="content-icons">
                    <a href="https://wa.me/57203160520963" target="_blank" class="msj wpp"></a>
                    <a href="https://www.instagram.com/vilean__/" target="_blank" class="msj ig"></a>
                    <a class="msj gmail"></a>
                </div>

                <div>
                    <p class="color-white text-start"><a title="">+57 316 052 0963</a></p>
                    <p class="color-white text-start"><a title="">@vilean__</a></p>
                    <p class="color-white text-start"><a title="">vileanrg@gmail.com</a></p>
                </div>

            </div>
        </div>

        <hr>

        <div class="politics">
            <p class="color-secondary">Términos y condiciones</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary">Política de privacidad</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary">Política de cookies</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary">Aviso legal</p>
        </div>

    </div>
</section>
<section class="footer-bottom">
    <div class="container">
        <div class="sixteen columns">
            <p class="color-white">© 2023 GRUPO LEAN S.A.S.</p>
        </div>
    </div>
</section>