<section class="content-footer">
    <div class="footer">
        <div class="margin content-logo">
            <div class="logo-footer"></div>
        </div>

        <div>
            <h2 class="color-secondary"> CONTACTO </h2>
            <div class="content-info">
                <div class="content-icons">
                    <a (click)="conversionesService.leadEvent()" href="https://wa.me/3160520963" target="_blank" class="msj wpp"></a>
                    <a href="https://www.instagram.com/vilean__/" target="_blank" class="msj ig"></a>
                    <a (click)="conversionesService.leadEvent()" href="https://mailto:info@vilean.co" target="_blank" class="msj gmail"></a>
                </div>

                <div>
                    <p (click)="conversionesService.leadEvent()" class="color-white text-start"><a href="https://wa.me/3160520963" target="_blank" >+57 316 052 0963</a></p>
                    <p class="color-white text-start"><a href="https://www.instagram.com/vilean__/" target="_blank">@vilean__</a></p>
                    <p (click)="conversionesService.leadEvent()" class="color-white text-start"><a href="mailto:info@vilean.co" target="_blank">info@vilean.co</a></p>
                </div>

            </div>
        </div>

        <hr>

        <div class="politics">
            <p class="color-secondary pointer" [routerLink]="'/terminos-condiciones'">Términos y condiciones</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary pointer" [routerLink]="'/politicas-privacidad'">Política de privacidad</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary pointer" [routerLink]="'/politicas-cookies'">Política de cookies</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary pointer" [routerLink]="'/aviso-legal'">Aviso legal</p>
            <p class="color-secondary punto"> · </p>
            <p class="color-secondary pointer" [routerLink]="'/tratamiento-datos'">Tratamiento de datos</p>
        </div>

    </div>
</section>
<div class="footer">
    © 2023 GRUPO LEAN S.A.S.
</div>