@import '/src/styles/variables';
@import "/src/styles/copyrightFooter";

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:active {
    color: white;
}

.content-footer {
    background: $primary;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    color: #f0f0f0;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.logo-footer {
    position: relative;
    width: 160px;
    height: 65px;
    background: url('../../../assets/images/logo_footer.png') no-repeat center center;
    background-size: 155px 58px;
    z-index: 10;
    margin: 0 auto;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-logo {
    padding-bottom: 35px;
}

.msj {
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.wpp {
    background-image: url('https://vilean.s3.us-east-2.amazonaws.com/IMAGENES+SITIO+WEB/CO-23.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ig {
    background-image: url('https://vilean.s3.us-east-2.amazonaws.com/IMAGENES+SITIO+WEB/CO-24.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gmail {
    background-image: url('https://vilean.s3.us-east-2.amazonaws.com/IMAGENES+SITIO+WEB/CO-25.png');
    background-repeat: no-repeat;
    background-size: cover;
}





hr {
    width: 280px;
    margin: 40px auto;
    border-color: $secondary;
}

.content-info {
    display: grid;
    grid-template-columns: 50px 180px;
    margin: 15px auto;
    justify-content: center;
    column-gap: 5px;
}

.content-icons {
    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.text-start {
    text-align: start;
}


.punto {
    display: none;
}

@media screen and (min-width: 728px) {
    
    .politics {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 40px;
    }

    hr {
        display: none;
    }

    .punto {
        display: block;
        font-size:30px;
    }
}

