@import "/src/styles/variables";

.content-form {
    padding: 30px;
    border: 1px solid $border;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .input-name, ::ng-deep .p-dropdown, .phone {
        width: 100%;
    }

    .display {
        display: flex;
        flex-direction: column;
    }
}

.content-phone {
    display: flex;
    gap: 10px;
}

.columns-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(162px, 1fr));
    column-gap: 10px;
}

@media screen and (max-width: 507px) {
    .columns-2 {
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}