@import "/src/styles/variables";

.content-cards {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

::ng-deep .p-card .p-card-body {
    background-color: $background-color;
}

::ng-deep .p-card .p-card-content {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 734px) {
    .content-cards {
        flex-direction: row;
        max-width: 942px;
        margin: 70px 30px 0px;
        overflow-x: auto;
        padding-bottom: 6px;
        justify-content: initial;
    }
}

::ng-deep .p-progressbar .p-progressbar-value {
    background-color: $primary;
}