<app-header-modules [title]="'Mis cursos'"
    [description]="'Aquí puedes acceder a los cursos disponibles de Vilean'"></app-header-modules>

<div class="content-cards">
    <p-card [style]="{ width: '388px' }" *ngIf="course">
        <ng-template pTemplate="header">
            <img oncontextmenu='return false' class="top-radius" onkeydown='return false' alt="Card" [src]="course.portada" />
        </ng-template>
        <h3>{{course.name}}</h3>
        <p *ngIf="user.courses && user.courses.length > 0">
            <p-progressBar [value]="user.courses[0].modules | classProgress" [color]="'primary'"></p-progressBar>
        </p>
        <div class="footer">
            <p *ngIf="user.courses && user.courses.length > 0"> 
                {{user.courses[0].modules | classProgress}} 
                /{{user.courses[0].modules | totalClasses }} 
                Clases 
            </p>
            
            <app-generic-button [sizeButton]="'small'" [classButton]="'class_blue'" [nameButton]="'Abrir'"
                (emitClick)="changeRoute(course._id)"></app-generic-button>
        </div>
    </p-card>
</div>