<header>
    <span class="icon-logo"></span>
    <div class="menu">
        <a class="item" routerLink="courses" routerLinkActive="router-active">
            <span>Cursos</span>
        </a>
        <a class="item" routerLink="kit-viajero" routerLinkActive="router-active">
            <span>Kit viajero</span>
        </a>
        <a class="item" routerLink="courses" routerLinkActive="router-active">
            <span>¿Quiénes somos?</span>
        </a>
        <a class="item" routerLink="courses" routerLinkActive="router-active">
            <span>Iniciar sesión</span>
        </a>
        <mat-icon>shopping_cart</mat-icon> 
    </div>
</header>